Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2019-09, with the labels that each got.

#151 Graphics Paging v2
  Assets/XML/GlobalDefines.xml
  Sources/C2C (VS2019).vcxproj
  Sources/C2C (VS2019).vcxproj.filters
  Sources/CvCity.cpp
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvGameCoreDLL.h
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvPlotPaging.cpp
  Sources/CvPlotPaging.h
  Sources/EnumFlags.h
  Sources/NiPoint.h
  Sources/Stopwatch.h
Labels: dll, xml

#158 Merge script fixes back from release
  Tools/CI/DeployBuild.bat
  Tools/CI/update-c2c-version.ps1
  appveyor.yml
Labels: tool

#160 Paging fixes for units
  Assets/Config/Heroes.xml
  Assets/Config/init.xml
  Assets/Python/Contrib/SdToolKit.py
  Assets/Python/CvEventManager.py
  Assets/Python/CvUtil.py
  Assets/Python/Revolution/Gameready/BarbarianCiv.py
  Assets/Python/StrategyOnly/Heroes.py
  Assets/XML/A_New_Dawn_GlobalDefines.xml
  Assets/XML/GlobalDefines.xml
  Assets/XML/Text/Global_CIV4GameText.xml
  Sources/CvPlot.cpp
  Sources/CvUnit.cpp
Labels: dll, python, xml

#167 SVN 11038
  .gitignore
  .vscode/launch.json
  Assets/Python/BUG/BugInit.py
  Assets/Python/BUG/BugOptions.py
  Assets/Python/DataStorage/SystemPaths.py
  Assets/XML/Terrain/CIV4BonusInfos.xml
  PrivateMaps/C2C_World.py
  Sources/CvMapGenerator.cpp
  Tools/Autocorrect/Autocorrect.py
  Tools/Autocorrect/DropXMLHere.bat
  Tools/Autocorrect/StartServer.bat
  Tools/Autocorrect/langtool.py
  Tools/Autocorrect/language-tool.properties
  Tools/CI/DeployBuild.bat
  Tools/Setup/DownloadAndInstallPython3.ps1
Labels: dll, python, tool, xml

#168 Final adjustments to recent map bonus placement code.
  Assets/XML/Terrain/CIV4BonusClassInfos.xml
  Assets/XML/Terrain/CIV4BonusInfos.xml
  PrivateMaps/C2C_World.py
  Sources/CvMapGenerator.cpp
Labels: dll, xml

#170 Some changes we want playtesting on asap.
  Assets/Python/CvEventManager.py
Labels: python

#171 SVN 11041
  Assets/XML/Text/Bonus_CIV4GameText.xml
  Assets/XML/Text/Units_CIV4GameText.xml
Labels: xml

#172 SVN 11042
  Assets/Modules/Pepper2000/Pepper2000Earth_CIV4BuildingInfos.xml
  Assets/XML/Buildings/Regular_CIV4BuildingInfos.xml
Labels: xml

#173 SVN 11043
  Assets/XML/Buildings/Regular_CIV4BuildingInfos.xml
  Assets/XML/Buildings/SpecialBuildings_CIV4BuildingInfos.xml
Labels: xml
