Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2019-10, with the labels that each got.

#174 SVN 11044
  Assets/Modules/Alt_Timelines/Megafauna_Units/Bear/Bear_CIV4BuildingInfos.xml
  Assets/Modules/Alt_Timelines/Megafauna_Units/Bison_Rider/BisonTrainer_CIV4BuildingInfos.xml
  Assets/Modules/Alt_Timelines/Megafauna_Units/DeerRider/DeerRider_CIV4BuildingInfos.xml
  Assets/Modules/Alt_Timelines/Megafauna_Units/Mammoths/Mammoths_CIV4BuildingInfos.xml
  Assets/Modules/Alt_Timelines/Megafauna_Units/Rhinoceros/Rhinoceros_CIV4BuildingInfos.xml
  Assets/XML/Buildings/Regular_CIV4BuildingInfos.xml
  Assets/XML/Buildings/SpecialBuildings_CIV4BuildingInfos.xml
Labels: xml

#179 Rebalance arsonist
  Assets/XML/Text/Units_CIV4GameText.xml
  Assets/XML/Units/CIV4UnitClassInfos.xml
  Assets/XML/Units/CIV4UnitInfos.xml
Labels: xml

#182 Fixes and neanderthal upgrades removed.
  Assets/Modules/StrategyOnly/More_Events/Scholars/Scholars_CIV4EventInfos.xml
  Assets/Modules/StrategyOnly/More_Events/Scholars/Scholars_CIV4EventTriggerInfos.xml
  Assets/XML/Units/CIV4UnitInfos.xml
  Sources/CvCityAI.cpp
Labels: dll, xml

#184 Crash fixes for trade routes and blacksmith event, text fixes
  .gitignore
  Assets/Modules/Pepper2000/Pepper2000Earth_CIV4BuildingInfos.xml
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/XML/Buildings/Regular_CIV4BuildingInfos.xml
  Assets/XML/Text/Buildings_CIV4GameText.xml
  Assets/XML/Text/Hydro_CIV4GameText.xml
  Assets/XML/Text/Tech_CIV4GameText.xml
  Sources/CvCity.cpp
  Sources/CvCity.h
  Tools/Autocorrect/Autocorrect.py
  Tools/Autocorrect/StartServer.bat
  Tools/Autocorrect/googlesp.py
  Tools/Autocorrect/ignore_instances_list.txt
  Tools/Autocorrect/ignore_rules_list.txt
  Tools/Autocorrect/ignore_tag_list.txt
  Tools/Autocorrect/ignore_word_list.txt
Labels: dll, python, tool, xml

#185 Add icons and launch script
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/XML/Terrain/Manufactured_CIV4BonusInfos.xml
  Assets/XML/Terrain/TradeGoods_CIV4BonusInfos.xml
  C2C1.ico
  C2C2.ico
  C2C3.ico
  C2C4.ico
  Tools/CI/C2C.bat
  Tools/CI/DeployBuild.bat
Labels: python, tool, xml

#186 SVN 11055
  Assets/Modules/Alt_Timelines/Cyberpunk/CyberPunk_CIV4BuildingInfos.xml
  Assets/Modules/Pepper2000/Pepper2000Earth_CIV4BuildingInfos.xml
  Assets/Python/Contrib/Pedia/Pedia.py
  Assets/Python/CvEventManager.py
  Assets/XML/Buildings/CIV4BuildingClassInfos.xml
  Assets/XML/Buildings/CIV4SpecialBuildingInfos.xml
  Assets/XML/Buildings/GreatWonders_CIV4BuildingInfos.xml
  Assets/XML/Buildings/Regular_CIV4BuildingInfos.xml
  Assets/XML/Buildings/SpecialBuildings_CIV4BuildingInfos.xml
  Assets/XML/GameInfo/CIV4CivicInfos.xml
  Assets/XML/Text/Buildings_CIV4GameText.xml
  Assets/XML/Text/Global_CIV4GameText.xml
  Assets/XML/Text/Pedia_CIV4GameText.xml
  Assets/XML/Text/Promotions_CIV4GameText.xml
  Assets/XML/Text/Units_CIV4GameText.xml
  Assets/XML/Units/CIV4UnitInfos.xml
Labels: python, xml

#191 Fix a couple of combat crashes
  Assets/XML/GameInfo/CIV4EraInfos.xml
  Assets/XML/Text/Units_CIV4GameText.xml
  Assets/res/Fonts/GameFont.tga
  Assets/res/Fonts/GameFont_75.tga
  Sources/CvAllocator.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CyPlayer.cpp
  Tools/Autocorrect/ignore_instances_list.txt
  Tools/Autocorrect/ignore_word_list.txt
  UnpackedArt/art/craft/art/discountstore.dds
  UnpackedArt/art/craft/art/dyemaker.dds
  UnpackedArt/art/craft/art/tacohut.dds
  UnpackedArt/art/event_images/bisonmigration.dds
  UnpackedArt/art/event_images/calledtoserve.dds
  UnpackedArt/art/event_images/camelmigration.dds
  UnpackedArt/art/event_images/cockfights.dds
  UnpackedArt/art/event_images/cometozion.dds
  UnpackedArt/art/event_images/cometozionprophet.dds
  UnpackedArt/art/event_images/compulsory_dem.dds
  UnpackedArt/art/event_images/earlymormonmissionaries.dds
  UnpackedArt/art/event_images/geothermal.dds
  UnpackedArt/art/event_images/girlsbestfriend.dds
  UnpackedArt/art/event_images/harry_potter.dds
  UnpackedArt/art/event_images/horsewhispering.dds
  UnpackedArt/art/event_images/iditarod.dds
  UnpackedArt/art/event_images/llamamigration.dds
  UnpackedArt/art/event_images/newworld.dds
  UnpackedArt/art/event_images/quicksand.dds
  UnpackedArt/art/event_images/sheriff.dds
  UnpackedArt/art/event_images/strike.dds
  UnpackedArt/art/event_images/super_virus.dds
  UnpackedArt/art/event_images/truthrestored.dds
  UnpackedArt/art/goods/goodcat.dds
  UnpackedArt/art/goods/gooddye.dds
  UnpackedArt/art/goods/goodnanotubes.dds
  UnpackedArt/art/goods/goodpoultry.dds
  UnpackedArt/art/interface/buttons/AtlasMapBonus.dds
  UnpackedArt/art/interface/buttons/bonus/co2_ice.dds
  UnpackedArt/art/interface/buttons/bonus/jade.dds
  UnpackedArt/art/interface/buttons/bonus/methane.dds
  UnpackedArt/art/interface/buttons/bonus/naturalgas.dds
  UnpackedArt/art/interface/buttons/bonus/tobacco.dds
  UnpackedArt/art/interface/buttons/buildings/bisontrainer.dds
  UnpackedArt/art/interface/buttons/buildings/dyefactory.dds
  UnpackedArt/art/interface/buttons/buildings/horseherd.dds
  UnpackedArt/art/vacation/art/unesco.dds
Labels: dll, tool, xml

#166 Tech tree rewrite that reduce general RAM usage by 70 MB.
  Assets/Python/EntryPoints/CvAppInterface.py
  Assets/Python/EntryPoints/CvScreensInterface.py
  Assets/Python/Screens/CvMainInterface.py
  Assets/Python/Screens/CvTechChooser.py
  Resource/GUI/GradientLeftTop.tga
  Resource/Theme/C2CTheme_Custom.thm
Labels: python, ui

#202 Tech tree paging
  Assets/Python/Contrib/Pedia/Pedia.py
  Assets/Python/Contrib/PythonToolTip.py
  Assets/Python/Screens/CvCivicsScreen.py
  Assets/Python/Screens/CvDomesticAdvisor.py
  Assets/Python/Screens/CvForeignAdvisor.py
  Assets/Python/Screens/CvMainInterface.py
  Assets/Python/Screens/CvMilitaryAdvisor.py
  Assets/Python/Screens/CvTechChooser.py
  Assets/Python/Screens/CvWorldBuilderScreen.py
  Sources/C2C (VS2019).vcxproj
  Sources/C2C (VS2019).vcxproj.filters
  Sources/CvCity.cpp
  Sources/CvDLLPython.cpp
  Sources/CvGame.cpp
  Sources/CvGameCoreDLL.cpp
  Sources/CvGameCoreUtils.h
  Sources/CvGameTextMgr.h
  Sources/CvGlobals.h
  Sources/CvInitCore.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.h
  Sources/CyGlobalContext.cpp
  Sources/CyGlobalContext.h
  Sources/CyGlobalContextInterface4.cpp
  Sources/Win32.cpp
  Sources/Win32.h
Labels: dll, python
