Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2019-12, with the labels that each got.

#294 Removed LAST_PLAYER
  Assets/Python/Revolution/Gameready/Revolution.py
  Assets/Python/Revolution/RevEvents.py
  Assets/Python/Revolution/RevUtils.py
  Sources/CvDefines.h
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvPlot.cpp
  Sources/CyGlobalContext.h
  Sources/CyGlobalContextInterface2.cpp
Labels: dll, python

#292 perf(AI): property control and healer AIs are optimized
  Sources/C2C (VS2019).vcxproj
  Sources/C2C (VS2019).vcxproj.filters
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvGameCoreDLL.h
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvPathGenerator.cpp
  Sources/CvPathGenerator.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlayerAI.h
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroup.h
  Sources/CvSelectionGroupAI.cpp
  Sources/CvSelectionGroupAI.h
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
  Sources/EnumFlags.h
  Sources/hash.h
  Sources/include/sparsehash/dense_hash_map
  Sources/include/sparsehash/dense_hash_set
  Sources/include/sparsehash/internal/densehashtable.h
  Sources/include/sparsehash/internal/hashtable-common.h
  Sources/include/sparsehash/internal/libc_allocator_with_realloc.h
  Sources/include/sparsehash/internal/sparseconfig.h
  Sources/include/sparsehash/internal/sparsehashtable.h
  Sources/include/sparsehash/sparse_hash_map
  Sources/include/sparsehash/sparse_hash_set
  Sources/include/sparsehash/sparsetable
  Sources/include/sparsehash/template_util.h
  Sources/include/sparsehash/type_traits.h
  Sources/index_iterator_base.h
  Sources/nullptr_t.h
Labels: dll

#309 fix(tech prereq): Hunting now requires Tracking
  Assets/XML/Technologies/CIV4TechInfos.xml
  Assets/XML/Text/Tech_CIV4GameText.xml
Labels: text

#311 Nightmare is now correctly recognixed in Flexible Difficulty settings…
  Assets/Config/RoMSettings.xml
  Assets/XML/Text/BUG_CIV4GameText.xml
  Assets/XML/Text/Gameoptions_CIV4GameText.xml
  PrivateMaps/C2C_PerfectMongoose_v310.py
  PrivateMaps/C2C_PerfectWorld2f.py
Labels: text, xml

#296 Option: disable automated hunting units return to city for upgrade
  Assets/Config/AutomatedSettings.xml
  Assets/Python/Afforess/AutomatedSettings.py
  Assets/Python/BUG/Tabs/ANDAutomationsTab.py
  Assets/XML/Text/BUG_CIV4GameText.xml
  Assets/XML/Text/Global_CIV4GameText.xml
  Sources/CvEnums.h
  Sources/CvUnitAI.cpp
  Sources/CyEnumsInterface.cpp
Labels: dll, python, text, xml

#317 Small clean up in the usable mountain GM code.
  Assets/XML/Technologies/CIV4TechInfos.xml
  Sources/CvGame.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvTeam.cpp
Labels: dll
