Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2020-08, with the labels that each got.

#606 Removed all the NULL checks in CyGame
  Sources/CyGame.cpp
  Sources/CyGame.h
  Sources/CyGameInterface.cpp
  Sources/CyGlobalContext.cpp
Labels: dll

#621 Overflow protection for player plot culture values.
  Sources/CvPlot.cpp
Labels: dll

#624 switching greater gold to long long
  Assets/Python/Contrib/autologEventManager.py
  Assets/Python/CvEventManager.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/Python/OOSLogger.py
  Assets/Python/Revolution/Gameready/Revolution.py
  Assets/Python/Screens/CvFinanceAdvisor.py
  Assets/Python/Screens/CvForeignAdvisor.py
  Assets/Python/Screens/CvMainInterface.py
  Assets/Python/Screens/CvTopCivs.py
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvCityAI.h
  Sources/CvDLLButtonPopup.cpp
  Sources/CvGame.cpp
  Sources/CvGameCoreDLL.h
  Sources/CvGameTextMgr.cpp
  Sources/CvOutcomeMission.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CyPlayer.cpp
  Sources/CyPlayer.h
  Sources/CyPlayerInterface1.cpp
Labels: dll, python

#626 switched checksum to what Toffer said.
  Sources/CvGame.cpp
Labels: dll

#625 Added a couple missing includes
  Sources/CvBuildLists.cpp
  Sources/CvCity.cpp
  Sources/CvInitCore.cpp
  Sources/CvMap.cpp
  Sources/CvMapGenerator.cpp
  Sources/CvRandom.cpp
  Sources/CvReachablePlotSet.cpp
  Sources/CvReplayInfo.cpp
  Sources/CvUnit.cpp
  Sources/CvXMLLoadUtilitySetMod.cpp
Labels: dll

#620 const in 2 spots.
  Sources/CvGameInterface.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPlot.h
Labels: dll

#629 Switched GC.getDefineINT("EVENT_MESSAGE_TIME") calls
  Assets/Python/Revolution/Gameready/Revolution.py
  Assets/Python/Revolution/RevEvents.py
Labels: python

#628 Switched unit get functions so that commanders don't call function again
  Sources/CvUnit.cpp
Labels: dll

#636 added const to getCheckSum()
  Sources/BoolExpr.cpp
  Sources/BoolExpr.h
  Sources/CvBuildingInfo.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvOutcome.cpp
  Sources/CvOutcome.h
  Sources/CvOutcomeList.cpp
  Sources/CvOutcomeList.h
  Sources/CvOutcomeMission.cpp
  Sources/CvOutcomeMission.h
  Sources/CvPropertyInteraction.cpp
  Sources/CvPropertyInteraction.h
  Sources/CvPropertyManipulators.cpp
  Sources/CvPropertyManipulators.h
  Sources/CvPropertyPropagator.cpp
  Sources/CvPropertyPropagator.h
  Sources/CvUnitInfo.cpp
  Sources/IDValueMap.h
  Sources/IntExpr.cpp
  Sources/IntExpr.h
Labels: dll

#635 Switched national culture to long long
  Assets/Python/Revolution/Gameready/Revolution.py
  Assets/Python/Screens/CvTopCivs.py
  Assets/XML/GlobalDefines.xml
  Sources/CvGame.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvReplayInfo.cpp
  Sources/CvReplayInfo.h
  Sources/CvTeam.cpp
  Sources/CvTeam.h
  Sources/CyPlayer.cpp
  Sources/CyPlayer.h
  Sources/CyPlayerInterface1.cpp
  Sources/CyReplayInfo.cpp
  Sources/CyReplayInfo.h
  Sources/CyTeam.cpp
  Sources/CyTeam.h
  Sources/GlobalDefines.h
Labels: dll, python, xml

#641 fixed trait cost
  Sources/CvPlayer.cpp
Labels: dll

#640 reverted one line
  Assets/Python/Screens/CvMainInterface.py
Labels: python

#593 Parallel maps update
  Assets/Config/init.xml
  Assets/Python/Contrib/ParallelMaps.py
  Assets/Python/Screens/CvMainInterface.py
  Sources/CvGame.cpp
  Sources/CvGameCoreDLL.h
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvMap.cpp
  Sources/CvMap.h
  Sources/CvMapGenerator.cpp
  Sources/CvMapInterfaceBase.h
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvViewport.cpp
  Sources/CvViewport.h
  Sources/CyGlobalContext.cpp
  Sources/CyGlobalContext.h
  Sources/CyGlobalContextInterface3.cpp
  Sources/CyMap.cpp
  Sources/CyMap.h
  Sources/CyMapInterface.cpp
  Sources/CyPlayer.cpp
  Sources/CyPlayer.h
  Sources/CyPlayerInterface1.cpp
Labels: dll, python, xml

#637 deleted 4 python handlers that are not called
  Assets/Python/BUG/BugGameUtils.py
  Assets/Python/CvGameUtils.py
  Assets/Python/EntryPoints/CvGameInterface.py
  Sources/CvGameCoreUtils.cpp
Labels: dll, python

#644 fixed python error reported by jatkinson
  Assets/Python/Contrib/EventSigns.py
Labels: python

#645 deleted a loose end from culture long long change
  Sources/CvTeam.cpp
  Sources/CvTeam.h
  Sources/CyTeam.cpp
Labels: dll
