Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2020-03, with the labels that each got.

#457 Resource generation display tweaks
  Assets/Modules/Alt_Timelines/Dieselpunk/Dieselpunk_CIV4BonusInfos.xml
  Assets/Modules/My_Mods/Extinction/Extinction_CIV4BonusInfos.xml
  Assets/Modules/Pepper2000/P2K_CIV4BonusInfos.xml
  Assets/Python/CvMapGeneratorUtil.py
  Assets/Python/MapScriptTools.py
  Assets/XML/Terrain/CIV4BonusClassInfos.xml
  Assets/XML/Terrain/CIV4BonusInfos.xml
  Assets/XML/Terrain/Manufactured_CIV4BonusInfos.xml
  Assets/XML/Terrain/TradeGoods_CIV4BonusInfos.xml
  Assets/XML/Text/Merged_CIV4GameText.xml
  PrivateMaps/C2C_SmartMap.py
  Sources/CvEnums.h
  Sources/CvGameTextMgr.cpp
  Sources/CvPlayer.cpp
Labels: dll, python, text, xml

#458 French Translation Update
  Assets/Modules/Custom_Civilizations/Polynesia/Polynesia_Civ4GameText.xml
  Assets/Modules/DancingHoskuld/DanceTheory/DT_CIV4GameText.xml
  Assets/Modules/StrategyOnly/More_Events/Knowledge_Inheritance/Knowledge_Inheritance_CIV4GameText.xml
  Assets/Modules/Thunderbrd/Traits/Promotions_TB_CIV4GameText.xml
  Assets/Modules/Thunderbrd/Traits/Traits_TB_CIV4GameText.xml
  Assets/XML/Text/Animals_CIV4GameText.xml
  Assets/XML/Text/Bonus_CIV4GameText.xml
  Assets/XML/Text/Captives_Build_CIV4GameText.xml
  Assets/XML/Text/Captives_CIV4GameText.xml
  Assets/XML/Text/Combat_CIV4GameText.xml
  Assets/XML/Text/Entertainer_CIV4GameText.xml
  Assets/XML/Text/Events_CIV4GameText.xml
  Assets/XML/Text/Gameoptions_CIV4GameText.xml
  Assets/XML/Text/Global_CIV4GameText.xml
  Assets/XML/Text/HS_CIV4GameText.xml
  Assets/XML/Text/Hints_CIV4GameText.xml
  Assets/XML/Text/Hydro_CIV4GameText.xml
  Assets/XML/Text/Improvements_CIV4GameText.xml
  Assets/XML/Text/MPromo_CIV4GameText.xml
  Assets/XML/Text/NamesCivs_CIV4GameText.xml
  Assets/XML/Text/NamesLeaders_CIV4GameText.xml
  Assets/XML/Text/Promotions_CIV4GameText.xml
  Assets/XML/Text/Statesman_CIV4GameText.xml
  Assets/XML/Text/Subdue_Animals_Strategy_CIV4GameText.xml
  Assets/XML/Text/Tech_CIV4GameText.xml
  Assets/XML/Text/Terrain_CIV4GameText.xml
  Assets/XML/Text/Traits_CIV4GameText.xml
  Assets/XML/Text/Units_CIV4GameText.xml
Labels: text, xml

#460 Tweaks to bonus filters, Starsign fixes and barbarian nerf
  Assets/Modules/Pepper2000/P2K_CIV4BonusInfos.xml
  Assets/Python/CvEventManager.py
  Assets/Python/Smeagolheart/StarSigns.py
  Assets/XML/Civilizations/CIV4TraitInfos.xml
  Assets/XML/Terrain/CIV4BonusClassInfos.xml
  Assets/XML/Terrain/CIV4BonusInfos.xml
  Assets/XML/Text/Merged_CIV4GameText.xml
  PrivateMaps/C2C_PerfectMongoose_v310.py
  PrivateMaps/C2C_PerfectWorld2f.py
  Sources/CvEnums.h
  Sources/CvGameTextMgr.cpp
  Sources/CvPlayer.cpp
Labels: dll, python, text, xml

#461 Trade terrain route tweaks and no unit spreading on map generation
  Assets/Modules/Pepper2000/P2K_CIV4UnitInfos.xml
  Assets/Python/MapScriptTools.py
  Assets/XML/Technologies/CIV4TechInfos.xml
  PrivateMaps/C2C_Planet_Generator_0_68.py
  PrivateMaps/C2C_Tectonics.py
  PrivateMaps/C2C_World.py
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
Labels: dll, python, xml

#440 const2
  Sources/CvBuildingInfo.cpp
  Sources/CvGameObject.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvUnitInfo.cpp
Labels: dll

#462 No x option conversion
  Assets/Python/BUG/Tabs/RevDCMOptionsTab.py
  Assets/Python/Revolution/RevolutionInit.py
  Assets/Python/Screens/CvMainInterface.py
  Assets/XML/GameInfo/CIV4GameOptionInfos.xml
  Assets/XML/Text/Gameoptions_CIV4GameText.xml
  Assets/XML/Units/CIV4UnitInfos.xml
  Sources/CvCityAI.cpp
  Sources/CvEnums.h
  Sources/CvGameTextMgr.cpp
  Sources/CvPlayer.cpp
  Sources/CvTeamAI.cpp
  Sources/CyEnumsInterface.cpp
Labels: dll, python, text, xml

#411 [PM] Finished exposing a few functions to python
  Sources/CyGlobalContext.cpp
  Sources/CyGlobalContext.h
  Sources/CyGlobalContextInterface3.cpp
Labels: dll

#467 Enabled map category check for barbarian city spawning
  Sources/CvGame.cpp
  Sources/CvGameCoreDLL.h
Labels: dll

#468 Minor update
  Assets/Python/Smeagolheart/StarSigns.py
  Assets/XML/Art/Culture_CIV4ArtDefines_Bonus.xml
  Assets/XML/Art/Manufactured_CIV4ArtDefines_Bonus.xml
  Assets/XML/Buildings/Cultures_CIV4BuildingInfos.xml
  Assets/XML/Terrain/Culture_CIV4BonusInfos.xml
  Assets/XML/Terrain/Manufactured_CIV4BonusInfos.xml
  Assets/XML/Text/Bonus_CIV4GameText.xml
  Assets/XML/Text/Improvements_CIV4GameText.xml
  Assets/XML/Units/CIV4UnitCombatInfos.xml
  Assets/XML/Units/CulturalUnits_CIV4UnitInfos.xml
  Assets/XML/Units/Heroes_CIV4UnitInfos.xml
Labels: python, text, xml

#472 feat(Language): german translations
  Assets/Modules/DancingHoskuld/ExtraDiplomacy/ExtraDiplomacy_CIV4GameText_Units.xml
  Assets/Python/Screens/CvMainInterface.py
  Assets/XML/Text/Buildings_CIV4GameText.xml
  Assets/XML/Text/Global_CIV4GameText.xml
  Assets/XML/Text/Hints_CIV4GameText.xml
  Assets/XML/Text/Merged_CIV4GameText.xml
  Assets/XML/Text/Pedia_CIV4GameText.xml
  Assets/XML/Text/Units_CIV4GameText.xml
Labels: python, text, xml

#470 Switched an if statement to a FAssert
  Sources/CvGame.cpp
  Sources/CvInitCore.cpp
Labels: dll

#422 Map category base class
  Sources/CvBuildingInfo.cpp
  Sources/CvCity.cpp
  Sources/CvGame.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvUnit.cpp
  Sources/CvUnitInfo.cpp
Labels: dll

#444 CvSelectionGroup algo
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroup.h
  Sources/CvUnit.h
Labels: dll

#475 French Translation Update #3
  .gitignore
  Assets/Modules/Pepper2000/Emancipation_Building_CIV4GameText.xml
  Assets/Modules/Pepper2000/P2K_CIV4GameText.xml
  Assets/Modules/Pepper2000/Pepper2000Terrain_CIV4GameText.xml
  Assets/Modules/Pepper2000/Pepper2000_Building_CIV4GameText.xml
  Assets/Modules/Thunderbrd/Traits/Promotions_TB_CIV4GameText.xml
  Assets/Modules/Thunderbrd/Traits/Traits_TB_CIV4GameText.xml
  Assets/Python/Screens/CvMainInterface.py
  Assets/XML/Text/Animals_CIV4GameText.xml
  Assets/XML/Text/Brackenspore_CIV4GameText.xml
  Assets/XML/Text/Buildings_CIV4GameText.xml
  Assets/XML/Text/CIV4GameTextInfos_C2C.xml
  Assets/XML/Text/Captives_Build_CIV4GameText.xml
  Assets/XML/Text/Captives_CIV4GameText.xml
  Assets/XML/Text/Civics_CIV4GameText.xml
  Assets/XML/Text/Combat_CIV4GameText.xml
  Assets/XML/Text/Concepts_CIV4GameText.xml
  Assets/XML/Text/Diplomacy_CIV4GameText.xml
  Assets/XML/Text/Events_CIV4GameText.xml
  Assets/XML/Text/Gameoptions_CIV4GameText.xml
  Assets/XML/Text/Global_CIV4GameText.xml
  Assets/XML/Text/Hydro_CIV4GameText.xml
  Assets/XML/Text/Improvements_CIV4GameText.xml
  Assets/XML/Text/Pedia_CIV4GameText.xml
  Assets/XML/Text/Promotions_CIV4GameText.xml
  Assets/XML/Text/Subdue_Animals_Pedia_CIV4GameText.xml
  Assets/XML/Text/Subdue_Animals_Strategy_CIV4GameText.xml
  Assets/XML/Text/Subdue_Animals_Unit_CIV4GameText.xml
  Assets/XML/Text/Tech_CIV4GameText.xml
  Assets/XML/Text/Terrain_CIV4GameText.xml
  Assets/XML/Text/Traits_CIV4GameText.xml
  Assets/XML/Text/Units_CIV4GameText.xml
Labels: python, text, xml

#476 Implemented bill's adjacent plot iterator
  Sources/CvArea.cpp
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGame.cpp
  Sources/CvGameCoreUtils.cpp
  Sources/CvMapGenerator.cpp
  Sources/CvOutcome.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvPlotGroup.cpp
  Sources/CvReachablePlotSet.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
Labels: dll

#486 Fixed mistake in python reported by Fermongu.
  Assets/Python/AbandonCityEventManager.py
Labels: python

#480 Removed unused functions from CvGlobals proxy.
  Sources/CvGlobals.h
Labels: dll

#489 Removed CvPlayerAI::AI_captureUnit
  Sources/CvPlayerAI.cpp
  Sources/CvPlayerAI.h
  Sources/CvUnit.cpp
Labels: dll

#488 Removed functions that return an enum in CvGlobals
  Sources/CvGameTextMgr.cpp
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvInfos.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyEnumsInterface.cpp
  Sources/CyGlobalContext.h
Labels: dll

#492 Removed 2 incomplete(?) info classes - RiverInfo and GameTextXML.
  Sources/CvDLLEngineIFaceBase.h
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvXMLLoadUtilitySet.cpp
Labels: dll

#493 Global defines vector
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvEnums.h
  Sources/CvGame.cpp
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/GlobalDefines.h
Labels: dll

#495 Updated FastBuild
  Tools/FBuild.exe
  Tools/FBuildWorker.exe
  Tools/_Build.ps1
Labels: build, dll, tool

#499 compiler errors
  Sources/GlobalDefines.h
Labels: dll

#502 Removed another unused info class - CvCameraInfo
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvXMLLoadUtilitySet.cpp
Labels: dll

#505 removed 3 get functions from CvGlobals.
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
Labels: dll

#508 Renamed TERRAIN_SPACE to TERRAIN_CISLUNAR_SPACE
  Assets/Modules/Pepper2000/P2K_CIV4ImprovementInfos.xml
  Assets/Modules/Pepper2000/P2K_CIV4UnitInfos.xml
  Assets/Modules/Pepper2000/Pepper2000Terrain_CIV4GameText.xml
  Assets/Modules/Pepper2000/Pepper2000_CIV4TerrainInfos.xml
  Assets/XML/Art/CIV4ArtDefines_Terrain.xml
  Assets/XML/Terrain/CIV4FeatureInfos.xml
  Assets/XML/Terrain/CIV4ImprovementInfos.xml
  Assets/XML/Terrain/CIV4TerrainInfos.xml
  Assets/XML/Text/Terrain_CIV4GameText.xml
  PrivateMaps/A Space Map - Duel World.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - ItSmallWorld.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - Large_Solar_System_v10.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - Tiny_Alternate_System_v5.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - VerticalSolar Cut.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Duel06_V1.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Duel07_V1.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Duel08_V1.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Duel09_V1.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard01_V6_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard02_V4_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard03_V3_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard04_V3_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard05_Raxo_V3_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard06_Thunderbrd_V3_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard07_Joseph_V3_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard08_Snofru_V3_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard09_Snofru_V3_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard10_Snofru_V3_SVN.CivBeyondSwordWBSave
Labels: text, xml
