Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2020-11, with the labels that each got.

#716 Update DynamicCivNames.py so npc players don't get renamed
  Assets/Python/Contrib/DynamicCivNames.py
Labels: python

#717 added code to read/write long long
  Sources/CvTaggedSaveFormatWrapper.cpp
  Sources/CvTaggedSaveFormatWrapper.h
  Sources/FDataIOStream.cpp
  Sources/FDataIOStream.h
  Sources/FDataStreamBase.h
Labels: dll

#681 Switched selection group loops to foreach_
  Sources/CvContractBroker.cpp
  Sources/CvGame.cpp
  Sources/CvGameInterface.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvSelectionGroup.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
Labels: dll

#701 switched an array to a vector in CvBuildingInfo
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvGameTextMgr.cpp
Labels: dll

#650 deleted CvCity::getFreshWaterBadHealth()
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvGameTextMgr.cpp
Labels: dll

#726 added break to autobuilds
  Sources/CvCity.cpp
Labels: dll

#710 SaveBreak pre v41 release
  Assets/Python/BUG/Tabs/RevDCMOptionsTab.py
  Assets/Python/Contrib/AbandonCityEventManager.py
  Assets/Python/Contrib/EventSigns.py
  Assets/Python/CvAdvisorUtils.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/Python/Revolution/Gameready/Revolution.py
  Assets/Python/Revolution/RevEvents.py
  Assets/Python/Screens/CvInfoScreen.py
  Assets/Python/Screens/CvMainInterface.py
  Assets/XML/Buildings/NationalWonders_CIV4BuildingInfos.xml
  Assets/XML/Buildings/Regular_CIV4BuildingInfos.xml
  Assets/XML/Buildings/SpecialBuildings_CIV4BuildingInfos.xml
  Assets/XML/GameInfo/CIV4CultureLevelInfo.xml
  Assets/XML/GameInfo/CIV4GameOptionInfos.xml
  Assets/XML/GlobalDefines.xml
  Assets/XML/Schema/C2C_CIV4TechnologiesSchema.xml
  Assets/XML/Schema/C2C_CIV4UnitSchema.xml
  Assets/XML/Text/Gameoptions_CIV4GameText.xml
  Assets/XML/Text/Global_CIV4GameText.xml
  Assets/XML/Units/CIV4SpawnInfos.xml
  Assets/XML/Units/CIV4UnitInfos.xml
  Notes for the next breaking of save game compatability cycle.txt
  Sources/CvArea.cpp
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvDeal.cpp
  Sources/CvDefines.h
  Sources/CvDiploParameters.cpp
  Sources/CvEnums.h
  Sources/CvGame.cpp
  Sources/CvGameAI.cpp
  Sources/CvGameInterface.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvInitCore.cpp
  Sources/CvInitCore.h
  Sources/CvMap.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPlotGroup.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroupAI.cpp
  Sources/CvStatistics.cpp
  Sources/CvTeam.cpp
  Sources/CvTeam.h
  Sources/CvTeamAI.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitInfo.cpp
  Sources/CyCity.cpp
  Sources/CyCity.h
  Sources/CyCityInterface1.cpp
  Sources/CyEnumsInterface.cpp
  Sources/CyPlayer.cpp
Labels: audio, dll, python, text, xml

#727 deleted ifdef parallel maps
  Assets/Python/Contrib/ParallelMaps.py
  Assets/XML/ParallelMaps_GlobalDefines.xml
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvGameCoreDLL.h
  Sources/CvGlobals.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CyGlobalContext.cpp
  Sources/CyPlayer.cpp
  Sources/CyPlayer.h
  Sources/CyPlayerInterface1.cpp
Labels: dll, python, xml

#742 32 new/updated Medieval tech quote audio files, new Neanderthal diplo music
  Assets/Modules/Custom_Civilizations/Neanderthal/Neanderthal_CIV4LeaderHeadInfos.xml
  Assets/Sounds/Diplomacy/Wrub_Early.mp3
  Assets/Sounds/Tech/04_Acoustics.mp3
  Assets/Sounds/Tech/04_Alchemy.mp3
  Assets/Sounds/Tech/04_Algebra.mp3
  Assets/Sounds/Tech/04_Anatomy.mp3
  Assets/Sounds/Tech/04_Architecture.mp3
  Assets/Sounds/Tech/04_Armored_Cavalry.mp3
  Assets/Sounds/Tech/04_Charters.mp3
  Assets/Sounds/Tech/04_Christianity.mp3
  Assets/Sounds/Tech/04_Clockpunk.mp3
  Assets/Sounds/Tech/04_Coal_Mining.mp3
  Assets/Sounds/Tech/04_Commercial_Whaling.mp3
  Assets/Sounds/Tech/04_Crop_Rotation.mp3
  Assets/Sounds/Tech/04_Crucible_Steel.mp3
  Assets/Sounds/Tech/04_Executions.mp3
  Assets/Sounds/Tech/04_Fire_Brigades.mp3
  Assets/Sounds/Tech/04_Martial_Arts.mp3
  Assets/Sounds/Tech/04_Medieval_Lifestyle.mp3
  Assets/Sounds/Tech/04_Mountaineering.mp3
  Assets/Sounds/Tech/04_Papacy.mp3
  Assets/Sounds/Tech/04_Parliaments.mp3
  Assets/Sounds/Tech/04_Perspective.mp3
  Assets/Sounds/Tech/04_Plague_Medicine.mp3
  Assets/Sounds/Tech/04_Rat_Catching.mp3
  Assets/Sounds/Tech/04_Rudder.mp3
  Assets/Sounds/Tech/04_Smithing.mp3
  Assets/Sounds/Tech/04_Stained_Glass.mp3
  Assets/Sounds/Tech/04_Surveying.mp3
  Assets/Sounds/Tech/04_Torture.mp3
  Assets/Sounds/Tech/04_Tournaments.mp3
  Assets/Sounds/Tech/04_Warrants_And_Decrees.mp3
  Assets/Sounds/Tech/04_Windmills.mp3
  Assets/Sounds/Tech/04_Yeomanry.mp3
  Assets/XML/Audio/Audio2DScripts.xml
  Assets/XML/Audio/AudioDefines.xml
  Assets/XML/Text/Tech_CIV4GameText.xml
Labels: audio, xml

#733 deleted extra bool bEnforcesGameOption
  Assets/XML/GameInfo/CIV4GameOptionInfos.xml
  Assets/XML/Schema/C2C_CIV4GameInfoSchema.xml
  Assets/XML/Schema/Caveman2Cosmos.xsd
  Sources/CvBuildingInfo.cpp
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvGlobals.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvStructs.h
  Sources/CvUnitInfo.cpp
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyGame.cpp
Labels: dll, xml

#731 added civ4 python files that are used by C2C
  Assets/Python/CvScreenUtils.py
  Assets/Python/EntryPoints/PbMain.py
  Assets/Python/ScreenInput.py
  Assets/Python/Screens/CvDanQuayle.py
  Assets/Python/Screens/CvDebugInfoScreen.py
  Assets/Python/Screens/CvGFCScreen.py
  Assets/Python/Screens/CvOptionsScreen.py
  Assets/Python/Screens/CvReplayScreen.py
  Assets/Python/Screens/CvSpaceShipScreen.py
  Assets/Python/Screens/CvUNVictoryScreen.py
  Assets/Python/Screens/CvVictoryMovieScreen.py
Labels: python

#748 switched assert calls to FAssert because FAssert has call stack
  Sources/CvDLLPythonIFaceBase.h
  Sources/CvGlobals.h
  Sources/FFreeListArray.h
  Sources/FFreeListTrashArray.h
  Sources/FVariableSystem.inl
  Sources/LinkedList.h
Labels: dll

#749 added 2 logging functions and deleted half dozen
  Sources/CvBugOptions.cpp
  Sources/CvBugOptions.h
  Sources/CvBuildLists.cpp
  Sources/CvCityAI.cpp
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvGlobals.cpp
  Sources/CvMap.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvRandom.cpp
  Sources/CvTeam.cpp
  Sources/CvUnit.cpp
  Sources/CvXMLLoadUtility.cpp
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilityModTools.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CvXMLLoadUtilitySetMod.cpp
  Sources/CyGame.cpp
  Sources/CyGlobalContext.h
  Sources/logging.cpp
  Sources/logging.h
Labels: dll

#750 deleted bits of old file caching code
  Sources/CvBuildingInfo.h
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvInfos.h
  Sources/IDValueMap.h
Labels: dll

#752 CyArtFileMgr dummy
  Sources/CyArtFileMgr.cpp
  Sources/CyArtFileMgr.h
  Sources/CyArtFileMgrInterface.cpp
Labels: dll

#755 CyMapGenerator dummy
  Sources/CyMapGenerator.cpp
  Sources/CyMapGenerator.h
Labels: dll

#757 CyPlayer and CyTeam dummy
  Assets/Python/Contrib/Civ4lerts.py
  Assets/Python/Contrib/EventSigns.py
  Assets/Python/CvDiplomacy.py
  Assets/Python/Revolution/RevCivicsUtils.py
  Assets/Python/Revolution/RevTraitsUtils.py
  Assets/Python/Screens/CvMainInterface.py
  Assets/Python/Utilities/DebugUtils.py
  Sources/CyCityInterface1.cpp
  Sources/CyGlobalContext.cpp
  Sources/CyMap.cpp
  Sources/CyMap.h
  Sources/CyMapInterface.cpp
  Sources/CyPlayer.cpp
  Sources/CyPlayer.h
  Sources/CyPlayerInterface1.cpp
  Sources/CySelectionGroup.cpp
  Sources/CySelectionGroup.h
  Sources/CySelectionGroupInterface.cpp
  Sources/CyTeam.cpp
  Sources/CyTeam.h
  Sources/CyTeamInterface.cpp
Labels: dll, python
