Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2020-04, with the labels that each got.

#504 Made CvXMLLoadUtility access info replacements members directly
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvMap.cpp
  Sources/CvXMLLoadUtility.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyGlobalContext.cpp
Labels: dll

#485 moved stuff to header and added const in CvGlobals
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
Labels: dll

#501 Removed unused function CvXMLLoadUtility::MakeMaskFromString
  Sources/CvXMLLoadUtility.cpp
  Sources/CvXMLLoadUtility.h
Labels: dll

#519 Prereq building fix
  Sources/CvBuildingInfo.cpp
Labels: dll

#522 Fixes and cleanup
  Assets/Modules/Custom_Civilizations/MLF_CIV4ModularLoadingControls.xml
  Assets/Modules/Custom_Civilizations/Polynesia/Polynesia_CIV4ArtDefines_Civilization.xml
  Assets/Modules/Custom_Civilizations/Polynesia/Polynesia_CIV4CivilizationInfos.xml
  Assets/Modules/Custom_Civilizations/Polynesia/Polynesia_CIV4ColorVals.xml
  Assets/Modules/Custom_Civilizations/Polynesia/Polynesia_CIV4PlayerColorInfos.xml
  Assets/Modules/Custom_Civilizations/Polynesia/Polynesia_Civ4GameText.xml
  Assets/Modules/Custom_Civilizations/Polynesia/kamehameha/Kamehameha_CIV4ArtDefines_Leaderhead.xml
  Assets/Modules/Custom_Civilizations/Polynesia/kamehameha/Kamehameha_CIV4GameText.xml
  Assets/Modules/Custom_Civilizations/Polynesia/kamehameha/Kamehameha_CIV4LeaderHeadInfos.xml
  Assets/Modules/Custom_Civilizations/Polynesia/salamasina/Salamasina_CIV4ArtDefines_Leaderhead.xml
  Assets/Modules/Custom_Civilizations/Polynesia/salamasina/Salamasina_CIV4GameText.xml
  Assets/Modules/Custom_Civilizations/Polynesia/salamasina/Salamasina_CIV4LeaderHeadInfos.xml
  Assets/Modules/Static/Leaders/Static_CIV4ArtDefines_Leaderhead.xml
  Assets/XML/Art/CIV4ArtDefines_Civilization.xml
  Assets/XML/Civilizations/CIV4CivilizationInfos.xml
  Assets/XML/Civilizations/CIV4LeaderHeadInfos.xml
  Assets/XML/GameInfo/CIV4DiplomacyInfos.xml
  Assets/XML/Interface/CIV4ColorVals.xml
  Assets/XML/Interface/CIV4WorldPickerInfos.xml
  Assets/XML/Text/Diplomacy_CIV4GameText.xml
  Assets/XML/Text/NamesCivs_CIV4GameText.xml
  Assets/XML/Text/NamesLeaders_CIV4GameText.xml
  Assets/XML/Units/CIV4BuildInfos.xml
  Assets/XML/Units/CIV4PromotionInfos.xml
  Assets/XML/Units/Subdue_Animals_CIV4UnitInfos.xml
  Assets/XML/Units/zCaptives_CIV4BuildInfos.xml
  Sources/CvBuildingInfo.cpp
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvXMLLoadUtility.cpp
  Sources/CvXMLLoadUtility.h
Labels: dll, text, xml

#520 switched the CvGlobals::CheckProxy method to a FAssertMsg
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
Labels: dll

#503 copied alberts cache highly used types code for ruins improvement
  Assets/XML/GlobalDefines.xml
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGame.cpp
  Sources/CvGameInterface.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlot.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvUnitAI.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/GlobalDefines.h
Labels: dll, xml

#500 Switched what I was doing from enums and a vector to separate vars and functions
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvEnums.h
  Sources/CvGame.cpp
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvInfos.cpp
  Sources/CvPlot.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/GlobalDefines.h
Labels: dll

#528 CvPlot algo and cleanup
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvUnit.h
Labels: dll

#533 Tweaks
  Assets/XML/Terrain/CIV4ImprovementInfos.xml
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvUnit.h
Labels: dll, xml

#534 Initial revised version of improvement upgrade code.
  Assets/XML/Terrain/CIV4ImprovementInfos.xml
  Assets/XML/Text/Improvements_CIV4GameText.xml
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvCityAI.h
  Sources/CvDLLButtonPopup.cpp
  Sources/CvGame.cpp
  Sources/CvGameInterface.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvMap.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvTeam.cpp
Labels: dll, text, xml

#536 feat(Language): German translations
  Assets/XML/Text/Global_CIV4GameText.xml
  Assets/XML/Text/Promotions_CIV4GameText.xml
  Assets/XML/Text/Units_CIV4GameText.xml
Labels: text, xml

#538 fixed a python error that was found and solved by jiallombardo.
  Assets/Python/CvEventManager.py
Labels: python

#537 City Plot Iterator
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlot.h
  Sources/CvTeamAI.cpp
  Sources/CvUnitAI.cpp
Labels: dll, enhancement

#542 Removed extra functions that I added a while ago.
  Sources/CvGameCoreDLL.def
  Sources/CvMapExternal.cpp
  Sources/CvMapExternal.h
Labels: dll

#546 Moved #include "BetterBTSAI.h" to CvGameCoreDLL.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvContractBroker.cpp
  Sources/CvDeal.cpp
  Sources/CvGame.cpp
  Sources/CvGameCoreDLL.h
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroupAI.cpp
  Sources/CvTeam.cpp
  Sources/CvTeamAI.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
Labels: dll

#543 Added #ifdef STRENGTH_IN_NUMBERS and WRAPPER_SKIP_ELEMENT
  Sources/CvUnit.cpp
  Sources/CvUnit.h
Labels: dll

#547 Added back the assert for getInfoTypeForString calls that come from python
  Sources/CyGlobalContext.cpp
Labels: dll

#552 Fixed python assert
  Assets/Python/Platyping/NaturalWonders.py
Labels: python

#555 algo function in one spot
  Sources/CvPlot.cpp
  Sources/CvUnit.h
Labels: dll

#540 removed functions from CyMapGenerator that are not called from python.
  Sources/CyMapGenerator.cpp
  Sources/CyMapGenerator.h
  Sources/CyMapGeneratorInterface.cpp
Labels: dll

#560 Update for an old project part1
  Assets/Config/init.xml
  Assets/Python/Contrib/ParallelMaps.py
  Assets/XML/GameInfo/CIV4MapInfo.xml
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvMap.cpp
  Sources/CyGame.cpp
  Sources/CyGame.h
  Sources/CyGameInterface.cpp
  Sources/CyGlobalContext.h
  Sources/CyGlobalContextInterface3.cpp
Labels: dll, python, xml

#573 Fixed some issues with the bForceOverwrite tag on units
  Sources/CvUnitInfo.cpp
Labels: dll
