Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2020-02, with the labels that each got.

#421 manySmallChanges
  Assets/Modules/Custom_Civilizations/Aborigines/Aborigines_CIV4CivilizationInfos.xml
  Assets/Modules/Custom_Civilizations/Brazil/Brazil_CIV4CivilizationInfos.xml
  Assets/Modules/Custom_Civilizations/Confederacy/Confederacy_CIV4CivilizationInfos.xml
  Assets/Modules/Custom_Civilizations/Cultures/Nomad_CIV4CivilizationInfos.xml
  Assets/Modules/Custom_Civilizations/Israel/Israel_CIV4CivilizationInfos.xml
  Assets/Modules/Custom_Civilizations/Jivaro/Jivaro_CIV4CivilizationInfos.xml
  Assets/Modules/Custom_Civilizations/Maori/Maori_CIV4CivilizationInfos.xml
  Assets/Modules/Custom_Civilizations/Neanderthal/Neanderthal_CIV4CivilizationInfos.xml
  Assets/Modules/Custom_Civilizations/Polynesia/Polynesia_CIV4CivilizationInfos.xml
  Assets/Modules/Custom_Civilizations/Tupi/Tupi_CIV4CivilizationInfos.xml
  Assets/Modules/Custom_Religions/Caodai/CaoDai_CIV4ReligionInfo.xml
  Assets/Modules/Natural_Wonders/zDepends_CultureWorkBoats_CIV4UnitInfos.xml
  Assets/Python/CvEventManager.py
  Assets/XML/Art/CIV4ArtDefines_Unit.xml
  Assets/XML/Civilizations/CIV4CivilizationInfos.xml
  Assets/XML/GameInfo/CIV4CivicInfos.xml
  Assets/XML/GameInfo/CIV4GameSpeedInfo.xml
  Assets/XML/GameInfo/CIV4HandicapInfo.xml
  Assets/XML/GameInfo/CIV4ProcessInfo.xml
  Assets/XML/GameInfo/CIV4WorldInfo.xml
  Assets/XML/Schema/C2C_CIV4GameInfoSchema.xml
  Assets/XML/Terrain/CIV4FeatureInfos.xml
  Assets/XML/Text/CIV4GameTextInfos_GreatPeople.xml
  Assets/XML/Text/Units_CIV4GameText.xml
  Assets/XML/Units/Animals_CIV4UnitInfos.xml
  Assets/XML/Units/CIV4UnitClassInfos.xml
  Assets/XML/Units/CIV4UnitInfos.xml
  Sources/CvCity.cpp
  Sources/CvGame.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvUnit.cpp
  Sources/CyInfoInterface2.cpp
Labels: dll, python, text

#423 BarbTweaksV2, post v40.1 PR.
  Assets/Python/CvEventManager.py
  Assets/XML/Art/CIV4ArtDefines_Building.xml
  Assets/XML/Buildings/Cultures_CIV4BuildingInfos.xml
  Assets/XML/Civilizations/CIV4CivilizationInfos.xml
  Assets/XML/Civilizations/CIV4LeaderHeadInfos.xml
  Assets/XML/Civilizations/CIV4TraitInfos.xml
  Assets/XML/GameInfo/CIV4GameOptionInfos.xml
  Assets/XML/GameInfo/CIV4HandicapInfo.xml
  Assets/XML/GlobalDefines.xml
  Assets/XML/Text/Gameoptions_CIV4GameText.xml
  Assets/XML/Text/Hydro_CIV4GameText.xml
  Assets/XML/Text/Merged_CIV4GameText.xml
  Assets/XML/Text/Promotions_CIV4GameText.xml
  Assets/XML/Units/CIV4PromotionInfos.xml
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CyUnit.cpp
  Sources/CyUnit.h
  Sources/CyUnitInterface1.cpp
Labels: dll, python, text, xml

#432 French Translation -
  Assets/XML/Text/Animals_CIV4GameText.xml
  Assets/XML/Text/BUG_CIV4GameText.xml
  Assets/XML/Text/Buildings_CIV4GameText.xml
  Assets/XML/Text/CIV4GameTextInfos_C2C.xml
  Assets/XML/Text/Combat_CIV4GameText.xml
  Assets/XML/Text/Features_CIV4GameText.xml
  Assets/XML/Text/Gameoptions_CIV4GameText.xml
  Assets/XML/Text/Global_CIV4GameText.xml
  Assets/XML/Text/Hydro_CIV4GameText.xml
  Assets/XML/Text/Map_Categories_CIV4GameText.xml
  Assets/XML/Text/Merged_CIV4GameText.xml
  Assets/XML/Text/NearACityAutoBuildings_CIV4GameText.xml
  Assets/XML/Text/Pedia_CIV4GameText.xml
  Assets/XML/Text/Promotions_CIV4GameText.xml
  Assets/XML/Text/Subdue_Animals_Buildings_CIV4GameText.xml
  Assets/XML/Text/Subdue_Animals_Help_CIV4GameText.xml
  Assets/XML/Text/Subdue_Animals_Unsorted_CIV4GameText.xml
  Assets/XML/Text/Traits_CIV4GameText.xml
  Assets/XML/Text/Units_CIV4GameText.xml
Labels: text

#394 Tweaks to Limited Religion and global techs
  Assets/Python/BUG/BugGameUtils.py
  Assets/Python/Contrib/RevDCMReligionControl.py
  Assets/Python/CvGameUtils.py
  Assets/Python/EntryPoints/CvGameInterface.py
  Sources/CvPlayer.cpp
  Sources/CvTeam.cpp
Labels: dll, python

#435 French Translation - Pass 2 (merged with last master branch)
  Assets/XML/Text/Animals_CIV4GameText.xml
  Assets/XML/Text/Concepts_CIV4GameText.xml
  Assets/XML/Text/Features_CIV4GameText.xml
  Assets/XML/Text/Gameoptions_CIV4GameText.xml
  Assets/XML/Text/Global_CIV4GameText.xml
  Assets/XML/Text/Hints_CIV4GameText.xml
  Assets/XML/Text/LeadGlass_CIV4GameText.xml
  Assets/XML/Text/NamesCivs_CIV4GameText.xml
  Assets/XML/Text/Promotions_CIV4GameText.xml
  Assets/XML/Text/Terrain_CIV4GameText.xml
Labels: text

#389 Removed Fresh water bad health
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvGameTextMgr.cpp
  Sources/CyCity.cpp
  Sources/CyCity.h
  Sources/CyCityInterface1.cpp
Labels: dll

#425 stuff I missed when removing Python modules info
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CyGlobalContext.h
  Sources/CyInfoInterface4.cpp
Labels: dll

#406 const
  Sources/CvBuildingInfo.cpp
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvGameAI.cpp
  Sources/CvGameAI.h
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameObject.cpp
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlayerAI.h
  Sources/CvPlot.cpp
  Sources/CvPlotGroup.cpp
  Sources/CvPlotGroup.h
  Sources/CvTeam.cpp
  Sources/CvTeam.h
  Sources/CvTeamAI.cpp
  Sources/CvTeamAI.h
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
  Sources/CvUnitInfo.cpp
Labels: dll

#427 CvPlayer algo
  Sources/CvCity.h
  Sources/CvPlayer.cpp
  Sources/CvSelectionGroup.h
  Sources/CvUnit.h
Labels: dll

#358 Removed MOD_GWARM and _BUFFY #defines.
  Sources/C2C (VS2019).vcxproj
  Sources/CvGameInterface.cpp
  Sources/CvInitCore.cpp
  Sources/CvUnit.cpp
  Sources/Makefile
  Sources/Makefile.original
  Sources/fbuild.bff
Labels: dll

#424 SAFE_DELETE_ARRAY2
  Sources/CvArea.cpp
  Sources/CvBuildingInfo.cpp
  Sources/CvCity.cpp
  Sources/CvGameCoreDLL.h
  Sources/CvInfos.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvTeam.cpp
Labels: dll

#441 deleted clear vector calls from CvUnit::~CvUnit()
  Sources/CvPlayerAI.cpp
  Sources/CvUnit.cpp
Labels: dll

#439 Fixed crash
  Sources/CvPlayerAI.cpp
Labels: dll

#410 Added REMAPPED_CLASS_TYPE code for yields, commerce and domains
  Sources/CvTaggedSaveFormatWrapper.cpp
  Sources/CvTaggedSaveFormatWrapper.h
Labels: dll

#438 French Translation : Technologies
  Assets/XML/Text/Tech_CIV4GameText.xml
Labels: text

#447 French Translation - Units, Civics and Hydro
  Assets/XML/Text/Bonus_CIV4GameText.xml
  Assets/XML/Text/Civics_CIV4GameText.xml
  Assets/XML/Text/Combat_CIV4GameText.xml
  Assets/XML/Text/Concrete_CIV4GameText.xml
  Assets/XML/Text/Espionage_CIV4GameText.xml
  Assets/XML/Text/Great_Hunter_CIV4GameText.xml
  Assets/XML/Text/HS_CIV4GameText.xml
  Assets/XML/Text/Hydro_CIV4GameText.xml
  Assets/XML/Text/IdeaClass_CIV4GameText.xml
  Assets/XML/Text/Promotions_CIV4GameText.xml
  Assets/XML/Text/Subdue_Animals_Buildings_CIV4GameText.xml
  Assets/XML/Text/Tech_CIV4GameText.xml
  Assets/XML/Text/Traits_CIV4GameText.xml
  Assets/XML/Text/Units_CIV4GameText.xml
Labels: text

#449 Removed FAssert
  Sources/CvPlayer.cpp
Labels: dll

#454 Mountain mine fix - for release
  Assets/Modules/Alt_Timelines/Megafauna_Units/Mammoths/Mammoths_CIV4UnitInfos.xml
  Assets/Modules/Alt_Timelines/Steampunk/Steampunk_CIV4UnitInfos.xml
  Assets/Modules/Custom_Religions/Voodoo/Voodoo_CIV4UnitInfos.xml
  Assets/Modules/Thunderbrd/Traits/C2C_TB_CIV4TraitInfos.xml
  Assets/XML/Terrain/CIV4ImprovementInfos.xml
  Assets/XML/Text/Captives_Build_CIV4GameText.xml
  Assets/XML/Text/Global_CIV4GameText.xml
  Assets/XML/Text/Improvements_CIV4GameText.xml
  Assets/XML/Units/CIV4BuildInfos.xml
  Assets/XML/Units/CIV4UnitInfos.xml
  Assets/XML/Units/CulturalUnits_CIV4UnitInfos.xml
  Assets/XML/Units/zCaptives_CIV4BuildInfos.xml
Labels: text, xml

#451 Bonus XML file - fix all labels + some descriptions
  Assets/Modules/Alt_Timelines/Dieselpunk/Dieselpunk_CIV4UnitInfos.xml
  Assets/Modules/My_Mods (unloaded)/Mormon New/Mormon_CIV4BuildingInfos.xml
  Assets/Modules/My_Mods/Bead_Toy_Pottery/Beads_CIV4BuildingInfos.xml
  Assets/Modules/My_Mods/Bead_Toy_Pottery/Potter_CIV4BuildingInfos.xml
  Assets/Modules/My_Mods/Bead_Toy_Pottery/Toy_CIV4BuildingInfos.xml
  Assets/Modules/Pepper2000/P2K_CIV4UnitInfos.xml
  Assets/Modules/Pepper2000/Pepper2000Earth_CIV4BuildingInfos.xml
  Assets/Modules/Thunderbrd/Traits/C2C_TB_CIV4TraitInfos.xml
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/Python/MapScriptTools.py
  Assets/XML/Art/CIV4ArtDefines_Bonus.xml
  Assets/XML/Art/Culture_CIV4ArtDefines_Bonus.xml
  Assets/XML/Art/Manufactured_CIV4ArtDefines_Bonus.xml
  Assets/XML/Buildings/Cultures_CIV4BuildingInfos.xml
  Assets/XML/Buildings/GreatWonders_CIV4BuildingInfos.xml
  Assets/XML/Buildings/NationalWonders_CIV4BuildingInfos.xml
  Assets/XML/Buildings/Regular_CIV4BuildingInfos.xml
  Assets/XML/Buildings/SpecialBuildings_CIV4BuildingInfos.xml
  Assets/XML/Events/CIV4EventInfos.xml
  Assets/XML/Events/CIV4EventTriggerInfos.xml
  Assets/XML/GameInfo/CIV4CorporationInfo.xml
  Assets/XML/Misc/CIV4RouteInfos.xml
  Assets/XML/Terrain/CIV4BonusInfos.xml
  Assets/XML/Terrain/CIV4ImprovementInfos.xml
  Assets/XML/Terrain/Culture_CIV4BonusInfos.xml
  Assets/XML/Terrain/Manufactured_CIV4BonusInfos.xml
  Assets/XML/Text/Bonus_CIV4GameText.xml
  Assets/XML/Units/CIV4UnitCombatInfos.xml
  Assets/XML/Units/CIV4UnitInfos.xml
  Assets/XML/Units/CulturalUnits_CIV4UnitInfos.xml
  Assets/XML/Units/Heroes_CIV4UnitInfos.xml
  PrivateMaps/A Space Map - Duel World.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - ItSmallWorld.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - Large_Solar_System_v10.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - Tiny_Alternate_System_v5.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - VerticalSolar Cut.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Duel06_V1.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Duel07_V1.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Duel08_V1.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Duel09_V1.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard01_V6_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard02_V4_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard03_V3_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard04_V3_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard05_Raxo_V3_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard06_Thunderbrd_V3_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard07_Joseph_V3_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard08_Snofru_V3_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard09_Snofru_V3_SVN.CivBeyondSwordWBSave
  PrivateMaps/A Space Map - _Standard10_Snofru_V3_SVN.CivBeyondSwordWBSave
  PrivateMaps/Large_Earth_Map_10_Civs.CivBeyondSwordWBSave
  PrivateMaps/Large_Earth_Map_21_Civs.CivBeyondSwordWBSave
  PrivateMaps/Large_Earth_Map_no_preset_Civs.CivBeyondSwordWBSave
  PrivateMaps/SEM_Plus_no_preset_Civs.CivBeyondSwordWBSave
  PrivateMaps/SEM_Plus_with_20_Civs.CivBeyondSwordWBSave
  PrivateMaps/SEM_Plus_with_9_Civs.CivBeyondSwordWBSave
  PrivateMaps/StrategyOnly's Land_Testing C2C_Narnia 17 st 69X59.CivBeyondSwordWBSave
  PrivateMaps/psGiant Earth Map - 5 civs 12513.CivBeyondSwordWBSave
Labels: text, xml
