Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2020-01, with the labels that each got.

#332 feat(Language): german translations
  Assets/XML/Text/Bonus_CIV4GameText.xml
  Assets/XML/Text/Buildings_CIV4GameText.xml
  Assets/XML/Text/Hydro_CIV4GameText.xml
  Assets/XML/Text/Tech_CIV4GameText.xml
Labels: text

#327 Animal AI Refinement
  Assets/XML/GameInfo/CIV4HandicapInfo.xml
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
Labels: dll

#338 Removed CvPythonModulesInfo.
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyGlobalContext.cpp
  Sources/CyGlobalContext.h
  Sources/CyGlobalContextInterface4.cpp
Labels: dll

#341 Impl algo in a few simple places.
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroup.h
  Sources/CvUnit.h
Labels: dll

#346 Added const to CvMap methods.
  Sources/CvGameCoreDLL.def
  Sources/CvMap.cpp
  Sources/CvMap.h
  Sources/CvMapExternal.cpp
  Sources/CvMapExternal.h
  Sources/CvMapInterfaceBase.h
  Sources/CvViewport.cpp
  Sources/CvViewport.h
Labels: dll

#351 Removed QC_MASTERY_VICTORY #define.
  Sources/C2C (VS2019).vcxproj
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvTeam.cpp
  Sources/CvTeam.h
  Sources/CyGame.cpp
  Sources/CyGame.h
  Sources/CyPlayer.cpp
  Sources/CyPlayer.h
  Sources/CyPlayerInterface3.cpp
  Sources/CyTeam.cpp
  Sources/CyTeam.h
  Sources/CyTeamInterface.cpp
  Sources/Makefile
  Sources/Makefile.original
  Sources/fbuild.bff
Labels: dll

#352 Code Cleanup.
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlot.h
  Sources/CvSelectionGroup.h
  Sources/CvUnit.cpp
  Sources/CvUnit.h
Labels: dll

#357 Fix hunters ignoring some animals
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvCityAI.h
  Sources/CvGameCoreUtils.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlayerAI.h
  Sources/CvPlot.h
  Sources/CvSelectionGroupAI.cpp
  Sources/CvSelectionGroupAI.h
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
Labels: dll

#339 SM cached values are now recalculated on load instead of once only
  Sources/CvGame.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CyUnit.cpp
Labels: dll

#359 Removed 2 unused mothods.
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CyGame.cpp
  Sources/CyGame.h
  Sources/CyGameInterface.cpp
Labels: dll

#356 AI multibuild
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvCityAI.h
  Sources/CvDLLWidgetData.cpp
  Sources/CvGameCoreDLL.h
  Sources/CvGameTextMgr.cpp
  Sources/CvStructs.cpp
  Sources/CvStructs.h
  Sources/CyCity.cpp
  Sources/CyCity.h
  Sources/CyCityInterface2.cpp
Labels: dll

#368 Fixing unsaved units and python crashes
  Sources/C2C (VS2019).sln
  Sources/C2C (VS2019).vcxproj
  Sources/C2C (VS2019).vcxproj.user.template
  Sources/CvCity.cpp
Labels: dll

#370 Removing INLINE 1
  Sources/CvArea.cpp
Labels: dll

#371 Removing INLINE 2
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroup.h
Labels: dll

#375 Removed 3 unused xml global defines
  Assets/XML/A_New_Dawn_GlobalDefines.xml
  Assets/XML/GlobalDefines.xml
Labels: xml
