Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2020-10, with the labels that each got.

#658 Updated area loops to foreach_
  Sources/CvGame.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvTeamAI.cpp
Labels: dll

#666 switched while loops to foreach_
  Sources/CvGame.cpp
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameInterface.cpp
  Sources/CvGameObject.cpp
  Sources/CvPathGenerator.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlayerAI.h
  Sources/CvPlot.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
Labels: dll

#668 fixed mistake in previous commit.
  Sources/CvGameCoreUtils.cpp
Labels: dll

#667 cached some global defines
  Sources/CvCity.cpp
  Sources/CvDLLWidgetData.cpp
  Sources/CvGame.cpp
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvOutcome.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroupAI.cpp
  Sources/CvTeam.cpp
  Sources/CvTeamAI.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitInfo.cpp
  Sources/GlobalDefines.h
Labels: dll

#669 fixed tiny bug in AI - plot damage is checked using the wrong plot.
  Sources/CvUnitAI.cpp
Labels: dll

#673 added macros to cache info types
  Sources/CvBuildingFilters.cpp
  Sources/CvBuildingSort.cpp
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvDLLButtonPopup.cpp
  Sources/CvDLLWidgetData.cpp
  Sources/CvDeal.cpp
  Sources/CvGame.cpp
  Sources/CvGameInterface.cpp
  Sources/CvGameObject.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvMap.cpp
  Sources/CvOutcome.cpp
  Sources/CvPathGenerator.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlayerAI.h
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvProperties.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvTeam.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
  Sources/CvUnitGrouping.cpp
  Sources/CvUnitInfo.cpp
  Sources/GlobalDefines.h
Labels: dll

#604 Added file CvBuildingInfo.h
  Sources/BoolExpr.cpp
  Sources/C2C (VS2019).vcxproj
  Sources/C2C (VS2019).vcxproj.filters
  Sources/CvBuildLists.cpp
  Sources/CvBuildingFilters.cpp
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvBuildingSort.cpp
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvDLLButtonPopup.cpp
  Sources/CvDLLWidgetData.cpp
  Sources/CvDeal.cpp
  Sources/CvGame.cpp
  Sources/CvGameCoreDLL.h
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameInterface.cpp
  Sources/CvGameObject.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvMap.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPropertySource.h
  Sources/CvTaggedSaveFormatWrapper.cpp
  Sources/CvTeam.cpp
  Sources/CvTeamAI.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyGlobalContext.cpp
  Sources/CyGlobalContextInterface1.cpp
  Sources/CyInfoInterface1.cpp
Labels: dll

#672 fix(fortification spacing): fort predecessors properly inherit range of successors
  Assets/Modules/My_Mods (unloaded)/Sacred_Sites/SacredSites_CIV4ImprovementInfos.xml
  Assets/Modules/My_Mods/Extinction/Extinction_CIV4BonusClassInfos.xml
  Assets/Modules/My_Mods/Extinction/Extinction_CIV4BonusInfos.xml
  Assets/Modules/Pepper2000/P2K_CIV4BonusInfos.xml
  Assets/Modules/Pepper2000/P2K_CIV4ImprovementInfos.xml
  Assets/XML/Schema/C2C_CIV4TerrainSchema.xml
  Assets/XML/Terrain/CIV4BonusClassInfos.xml
  Assets/XML/Terrain/CIV4BonusInfos.xml
  Assets/XML/Terrain/CIV4ImprovementInfos.xml
  Sources/CvInfos.cpp
Labels: dll, xml

#680 New quotes, audio for many prehistoric techs
  Assets/Sounds/Tech/01_Elephant_Domestication.mp3
  Assets/Sounds/Tech/01_animism.mp3
  Assets/Sounds/Tech/01_axe_making_v2.mp3
  Assets/Sounds/Tech/01_celebration.mp3
  Assets/Sounds/Tech/01_druidic_traditions.mp3
  Assets/Sounds/Tech/01_megafauna_domestication.mp3
  Assets/Sounds/Tech/01_obsidian_weapons.mp3
  Assets/Sounds/Tech/01_poultry_domestication.mp3
  Assets/Sounds/Tech/01_prehistoric_music.mp3
  Assets/Sounds/Tech/01_scavenging.mp3
  Assets/Sounds/Tech/01_shamanism.mp3
  Assets/Sounds/Tech/01_slavery.mp3
  Assets/Sounds/Tech/01_tengriism.mp3
  Assets/Sounds/Tech/01_woodworking.mp3
  Assets/XML/Text/Tech_CIV4GameText.xml
Labels: audio, text, xml

#677 deleted unused code about resetting infos
  Notes for the next breaking of save game compatability cycle.txt
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvInitCore.cpp
  Sources/CvInitCore.h
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilitySet.cpp
Labels: dll

#676 Taunt chance no longer takes priority over strength when evaluating 'best defender' in 'target first' combat
  Assets/XML/Units/CIV4UnitInfos.xml
  Assets/XML/Units/CulturalUnits_CIV4UnitInfos.xml
  Sources/CvPlot.cpp
  Sources/CvUnit.cpp
Labels: bug, dll, xml

#685 Lake tweaks
  Assets/Python/BUG/PlayerUtil.py
  Assets/Python/Contrib/autologEventManager.py
  Assets/Python/CvMapGeneratorUtil.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/XML/Schema/C2C_CIV4TerrainSchema.xml
  Assets/XML/Terrain/CIV4TerrainInfos.xml
  Assets/XML/Terrain/CIV4YieldInfos.xml
  Assets/XML/Text/Concepts_CIV4GameText.xml
  Assets/XML/Text/Improvements_CIV4GameText.xml
  Assets/XML/Text/Terrain_CIV4GameText.xml
  PrivateMaps/C2C_Donut.py
  PrivateMaps/C2C_PerfectMongoose_v310.py
  PrivateMaps/C2C_PerfectWorld2f.py
  PrivateMaps/C2C_SmartMap.py
  PrivateMaps/C2C_World.py
  Sources/CvArea.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlot.cpp
  Sources/CvPlot.h
Labels: dll, python, text, xml

#687 reverted calls back to getInfoTypeForString in the building filters code
  Sources/CvBuildingFilters.cpp
  Sources/CvBuildingSort.cpp
Labels: dll

#693 Tower spam reduction in city radius
  Sources/CvCityAI.cpp
  Sources/CvUnitAI.cpp
Labels: dll

#694 commented out CvImprovementInfo::setHighestCost
  Sources/CvGame.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
Labels: dll

#695 switched while loops to for loops for cities in python
  Assets/Python/CvAdvisorUtils.py
  Assets/Python/CvDiplomacy.py
  Assets/Python/CvEventManager.py
  Assets/Python/EntryPoints/CvOptionsScreenCallbackInterface.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/Python/OrionsMods/Immigration/Immigration.py
  Assets/Python/Screens/CvDomesticAdvisor.py
  Assets/Python/Screens/CvEspionageAdvisor.py
  Assets/Python/Screens/CvFinanceAdvisor.py
  Assets/Python/Screens/CvForeignAdvisor.py
  Assets/Python/Screens/CvMainInterface.py
  Assets/Python/Screens/CvVictoryScreen.py
  Assets/Python/Screens/RevolutionWatchAdvisor.py
  Assets/Python/Screens/Worldbuilder/WBBuildingScreen.py
  Assets/Python/Screens/Worldbuilder/WBCityDataScreen.py
  Assets/Python/Screens/Worldbuilder/WBCityEditScreen.py
  Assets/Python/Screens/Worldbuilder/WBCorporationScreen.py
  Assets/Python/Screens/Worldbuilder/WBEventScreen.py
  Assets/Python/Screens/Worldbuilder/WBGameDataScreen.py
  Assets/Python/Screens/Worldbuilder/WBInfoScreen.py
  Assets/Python/Screens/Worldbuilder/WBPlayerUnits.py
  Assets/Python/Screens/Worldbuilder/WBReligionScreen.py
  Sources/CyPlayer.cpp
  Sources/CyPlayer.h
  Sources/CyPlayerInterface3.cpp
Labels: dll, python

#697 feat(Language) German translations and corrections
  Assets/XML/Text/Animals_CIV4GameText.xml
  Assets/XML/Text/Build_CIV4GameText.xml
  Assets/XML/Text/Improvements_CIV4GameText.xml
  Assets/XML/Text/Thunderbrd/Traits/Promotions_TB_CIV4GameText.xml
  Assets/XML/Text/Thunderbrd/Traits/Traits_TB_CIV4GameText.xml
  Assets/XML/Text/Traits_CIV4GameText.xml
  Assets/XML/Text/Units_CIV4GameText.xml
Labels: text, xml

#698 fixed python typo in my last commit
  Assets/Python/EntryPoints/CvOptionsScreenCallbackInterface.py
Labels: python

#554 dynamic civ names
  Assets/Config/init.xml
  Assets/Python/Contrib/DynamicCivNames.py
  Assets/Python/EntryPoints/CvAppInterface.py
  Assets/Python/Revolution/Gameready/DynamicCivNames.7z
  Sources/CvGameCoreDLL.h
  Sources/CyPlayer.cpp
  Sources/CyPlayer.h
  Sources/CyPlayerInterface1.cpp
  Sources/CyPlayerInterface3.cpp
Labels: dll, python, xml

#646 switched bForLoad param used for infos
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvUnitInfo.cpp
Labels: dll

#691 Switching Cy files to return NULL instead of a dummy obj
  Assets/Python/BUG/PlayerUtil.py
  Assets/Python/CvAdvisorUtils.py
  Assets/Python/CvEventManager.py
  Assets/Python/CvGameUtils.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/Python/EntryPoints/CvScreensInterface.py
  Assets/Python/PyHelpers.py
  Assets/Python/Revolution/Gameready/Revolution.py
  Assets/Python/Revolution/RevEvents.py
  Assets/Python/Screens/CvCorporationScreen.py
  Assets/Python/Screens/CvFinanceAdvisor.py
  Assets/Python/Screens/CvMainInterface.py
  Assets/Python/Screens/CvReligionScreen.py
  Assets/Python/Screens/Worldbuilder/WBCorporationScreen.py
  Assets/Python/Screens/Worldbuilder/WBInfoScreen.py
  Assets/Python/Screens/Worldbuilder/WBPlayerUnits.py
  Assets/Python/Screens/Worldbuilder/WBProjectScreen.py
  Assets/Python/Screens/Worldbuilder/WBReligionScreen.py
  Assets/Python/Smeagolheart/StarSigns.py
  Assets/Python/Utilities/DebugUtils.py
  Assets/Python/pyWB/CvWBDesc.py
  Sources/CyCity.cpp
  Sources/CyCity.h
  Sources/CyCityInterface1.cpp
  Sources/CyGame.cpp
  Sources/CyPlayer.cpp
  Sources/CyPlayer.h
  Sources/CyPlot.cpp
Labels: dll, python

#705 switched isNone() calls I missed
  Assets/Python/Contrib/DynamicCivNames.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
Labels: python

#706 PR: Added Discord RPC Integration
  Assets/Config/BUG Main Interface.xml
  Assets/Discord/.disabled
  Assets/Discord/.gitignore
  Assets/Discord/C2CRPCHost.exe
  Assets/Python/BUG/Tabs/BugGeneralOptionsTab.py
  Assets/XML/Text/BUG_CIV4GameText.xml
  Sources/C2C (VS2019).vcxproj
  Sources/C2C (VS2019).vcxproj.filters
  Sources/CvGame.cpp
  Sources/CvGameCoreDLL.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvGlobals.cpp
  Sources/Discord.cpp
  Sources/DiscordRPC (VS2019)/.gitignore
  Sources/DiscordRPC (VS2019)/DiscordRPC (VS2019).sln
  Sources/DiscordRPC (VS2019)/DiscordRPC (VS2019)/Discord.cpp
  Sources/DiscordRPC (VS2019)/DiscordRPC (VS2019)/DiscordRPC (VS2019).vcxproj
  Sources/DiscordRPC (VS2019)/DiscordRPC (VS2019)/DiscordRPC (VS2019).vcxproj.filters
  Sources/DiscordRPC (VS2019)/DiscordRPC (VS2019)/defines.h
  Sources/DiscordRPC (VS2019)/DiscordRPC (VS2019)/discord.h
  Sources/DiscordRPC (VS2019)/DiscordRPC (VS2019)/file_management.cpp
  Sources/DiscordRPC (VS2019)/DiscordRPC (VS2019)/file_management.h
  Sources/DiscordRPC (VS2019)/DiscordRPC (VS2019)/main.cpp
  Sources/DiscordRPC (VS2019)/discord-win32-static/include/discord_register.h
  Sources/DiscordRPC (VS2019)/discord-win32-static/include/discord_rpc.h
  Sources/DiscordRPC (VS2019)/discord-win32-static/lib/discord-rpc.lib
  Sources/discord.h
Labels: dll, python, text, xml

#709 deleted CvGame::setFutureEras()
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CyGame.cpp
  Sources/CyGame.h
  Sources/CyGameInterface.cpp
Labels: dll
