Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2020-12, with the labels that each got.

#745 fix(tower improvements): Misc issues
  Assets/Modules/Alt_Timelines/Megafauna_Units/Mammoths/Mammoths_CIV4UnitInfos.xml
  Assets/Modules/Alt_Timelines/Steampunk/Steampunk_CIV4UnitInfos.xml
  Assets/Modules/Custom_Religions/Voodoo/Voodoo_CIV4UnitInfos.xml
  Assets/Modules/Thunderbrd/Traits/C2C_TB_CIV4TraitInfos.xml
  Assets/Python/Contrib/Pedia/PediaFeature.py
  Assets/XML/Terrain/CIV4ImprovementInfos.xml
  Assets/XML/Units/CIV4BuildInfos.xml
  Assets/XML/Units/CIV4UnitInfos.xml
  Assets/XML/Units/CulturalUnits_CIV4UnitInfos.xml
  Sources/CvPlot.cpp
  Sources/CvPlot.h
Labels: dll, python, xml

#758 deleted 2 unused functions
  Sources/CvXMLLoadUtilityModTools.cpp
  Sources/CvXMLLoadUtilityModTools.h
  Sources/CvXMLLoadUtilitySetMod.cpp
  Sources/CvXMLLoadUtilitySetMod.h
Labels: dll

#759 deleted Exposed to Python comments
  Sources/CvArtFileMgr.h
  Sources/CvBuildingInfo.h
  Sources/CvCity.h
  Sources/CvEnums.h
  Sources/CvFractal.h
  Sources/CvGame.h
  Sources/CvGameCoreUtils.h
  Sources/CvInfos.h
  Sources/CvMap.h
  Sources/CvMapExternal.h
  Sources/CvMapGenerator.h
  Sources/CvMapInterfaceBase.h
  Sources/CvPlayer.h
  Sources/CvPopupReturn.h
  Sources/CvSelectionGroup.h
  Sources/CvStructs.h
  Sources/CvTeam.h
  Sources/CvUnit.h
  Sources/CvViewport.h
  Sources/CyTeam.h
Labels: dll

#762 deleted a python callback and fixed typo for another
  Assets/Python/BUG/BugGameUtils.py
  Assets/Python/CvGameUtils.py
  Assets/Python/EntryPoints/CvGameInterface.py
  Sources/CvCity.cpp
  Sources/CvUnit.cpp
  Sources/GlobalDefines.h
Labels: dll, python

#767 foreach_
  Sources/CvArea.cpp
  Sources/CvBuildingFilters.cpp
  Sources/CvBuildingSort.cpp
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPropertyManipulators.cpp
  Sources/CvPropertyManipulators.h
  Sources/CvPropertySolver.cpp
  Sources/CvUnitAI.cpp
Labels: dll

#771 foreach_
  Sources/CvGame.cpp
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvInitCore.cpp
  Sources/CvPlayer.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/algorithm2.h
Labels: dll

#760 Improvement(+related UI) fixes, balance tweaks, and organization
  Assets/Modules/Alt_Timelines/Megafauna_Units/Mammoths/Mammoths_CIV4UnitInfos.xml
  Assets/Modules/Alt_Timelines/Steampunk/Steampunk_CIV4UnitInfos.xml
  Assets/Modules/My_Mods (unloaded)/TidalPools/TidalPools_CIV4ArtDefines_Improvement.xml
  Assets/Modules/My_Mods (unloaded)/TidalPools/TidalPools_CIV4ImprovementInfos.xml
  Assets/Modules/Natural_Wonders/NaturalWonder_CIV4BuildInfos.xml
  Assets/Modules/Natural_Wonders/NaturalWonder_CIV4FeatureInfos.xml
  Assets/Modules/Natural_Wonders/NaturalWonder_CIV4ImprovementInfos.xml
  Assets/Modules/Thunderbrd/Traits/C2C_TB_CIV4TraitInfos.xml
  Assets/Python/Contrib/Pedia/PediaBuild.py
  Assets/Python/CvEventManager.py
  Assets/XML/Art/CIV4ArtDefines_Improvement.xml
  Assets/XML/Misc/CIV4RouteInfos.xml
  Assets/XML/Terrain/CIV4FeatureInfos.xml
  Assets/XML/Terrain/CIV4ImprovementInfos.xml
  Assets/XML/Terrain/CIV4TerrainInfos.xml
  Assets/XML/Text/Build_CIV4GameText.xml
  Assets/XML/Text/CIV4GameTextInfos_C2C.xml
  Assets/XML/Text/Captives_Build_CIV4GameText.xml
  Assets/XML/Text/Improvements_CIV4GameText.xml
  Assets/XML/Text/Natural_Wonders/NaturalWonder_CIV4GameText.xml
  Assets/XML/Text/Units_CIV4GameText.xml
  Assets/XML/Units/CIV4BuildInfos.xml
  Assets/XML/Units/CIV4UnitInfos.xml
  Assets/XML/Units/CulturalUnits_CIV4UnitInfos.xml
  Assets/XML/Units/zCaptives_CIV4BuildInfos.xml
  Sources/CvDLLWidgetData.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvSelectionGroup.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  UnpackedArt/art/interface/buttons/builds/hybrid_forest.dds
Labels: dll, python, text, xml

#775 reverted change that breaks assert build
  Sources/CvGlobals.cpp
Labels: dll

#776 deleted functions that are not DllExport from CvMapExternal
  Sources/CvMapExternal.cpp
  Sources/CvMapExternal.h
Labels: dll

#777 switched hasInfoTypeForString calls to getInfoTypeForString
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvInfos.cpp
  Sources/CvUnitInfo.cpp
Labels: dll

#778 fixed profiler build
  Sources/BoolExpr.cpp
  Sources/CvAllocator.cpp
  Sources/CvArea.cpp
  Sources/CvArtFileMgr.cpp
  Sources/CvCityAI.cpp
  Sources/CvDllPythonEvents.cpp
  Sources/CvGame.h
  Sources/CvGameAI.cpp
  Sources/CvGameCoreDLL.h
  Sources/CvInfos.h
  Sources/CvOutcome.cpp
  Sources/CvOutcomeMission.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPropertyInteraction.cpp
  Sources/CvPropertyManipulators.cpp
  Sources/CvPropertySource.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroupAI.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilityModTools.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CvXMLLoadUtilitySetMod.cpp
  Sources/IntExpr.cpp
Labels: dll

#780 changed var names
  Assets/Python/EntryPoints/CvRandomEventInterface.py
Labels: python

#781 Unit info reorganization
  .gitignore
  Assets/Modules/Thunderbrd/Traits/C2C_TB_CIV4TraitInfos.xml
  Assets/Modules/ls612/Traits/ls612_CIV4TraitInfos.xml
  Assets/XML/Civilizations/CIV4TraitInfos.xml
  Assets/XML/Text/Build_CIV4GameText.xml
  Assets/XML/Text/Units_CIV4GameText.xml
  Assets/XML/Units/CIV4BuildInfos.xml
  Assets/XML/Units/CIV4UnitInfos.xml
  Assets/XML/Units/U_Air_CIV4UnitInfos.xml
  Assets/XML/Units/U_Animals_CIV4UnitInfos.xml
  Assets/XML/Units/U_Animals_Subdued_CIV4UnitInfos.xml
  Assets/XML/Units/U_Cultural_CIV4UnitInfos.xml
  Assets/XML/Units/U_Heroes_CIV4UnitInfos.xml
  Assets/XML/Units/U_LandFly_CIV4UnitInfos.xml
  Assets/XML/Units/U_Land_CIV4UnitInfos.xml
  Assets/XML/Units/U_Neanderthals_CIV4UnitInfos.xml
  Assets/XML/Units/U_Sea_CIV4UnitInfos.xml
  Assets/XML/Units/U_Workers_CIV4UnitInfos.xml
  Assets/XML/Units/zU_Animals_EntertainerBuilds_CIV4UnitInfos.xml
  Assets/XML/Units/zU_Animals_Tamed_CIV4UnitInfos.xml
  Assets/XML/Units/zU_Captives_CIV4BuildInfos.xml
  Tools/XMLTools/BlazeScripts/OrganizeTechAudios.py
  Tools/XMLTools/BlazeScripts/PrintSortedWorkerBuildList.py
  Tools/XMLTools/BlazeScripts/README.txt
  Tools/XMLTools/BlazeScripts/SplitXMLByTag.py
Labels: text, tool, xml

#782 fix(Tech): getting more than one free tech in a single turn now works
  Sources/CvDLLWidgetData.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
Labels: dll

#784 Fix crash (end turn when making text for newly researched buildings?)
  Sources/CvGameTextMgr.cpp
Labels: dll

#783 AIAndy update
  Sources/BoolExpr.cpp
  Sources/BoolExpr.h
  Sources/CvBuildingInfo.cpp
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
Labels: dll

#786 switched copy non default code for building prereqs
  Sources/CvBuildingInfo.cpp
Labels: dll

#789 deleted free tech tag from handicap info
  Assets/XML/Schema/C2C_CIV4GameInfoSchema.xml
  Sources/CvGame.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
Labels: dll, xml

#791 feat(Language): German translations
  Assets/Python/Contrib/DynamicCivNames.py
  Assets/XML/Text/Animals_CIV4GameText.xml
  Assets/XML/Text/Beastmaster_CIV4GameText.xml
  Assets/XML/Text/CIV4GameTextInfos_C2C.xml
  Assets/XML/Text/Combat_CIV4GameText.xml
  Assets/XML/Text/Global_CIV4GameText.xml
  Assets/XML/Text/HelpText_CIV4GameText.xml
  Assets/XML/Text/Natural_Wonders/NaturalWonder_CIV4GameText.xml
  Assets/XML/Text/Promotions_CIV4GameText.xml
  Assets/XML/Text/Subdue_Animals_Unit_CIV4GameText.xml
  Assets/XML/Text/Terrain_CIV4GameText.xml
  Assets/XML/Text/UnitHelp_CIV4GameText.xml
  Assets/XML/Text/Units_CIV4GameText.xml
Labels: python, text, xml

#787 switched copy non default code
  Sources/CvBuildingInfo.cpp
  Sources/CvUnitInfo.cpp
Labels: dll

#793 disabled last bits of SIN
  Sources/CvBuildingFilters.cpp
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvUnit.cpp
  Sources/CvUnitInfo.cpp
  Sources/CyEnumsInterface.cpp
Labels: dll

#794 switched m_bAnySpecialistYieldChanges
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.h
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvUnit.h
Labels: dll

#796 switched some copy non defaults code
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilityModTools.cpp
  Sources/CvXMLLoadUtilityModTools.h
Labels: dll
