Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2020-09, with the labels that each got.

#648 Switched FAssertMsg to FErrorMsg
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvDLLEntityIFaceBase.h
  Sources/CvDLLWidgetData.cpp
  Sources/CvDllTranslator.cpp
  Sources/CvGame.cpp
  Sources/CvGameInterface.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfoWater.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvInitCore.cpp
  Sources/CvMapGenerator.cpp
  Sources/CvMessageData.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvTaggedSaveFormatWrapper.cpp
  Sources/CvTeam.cpp
  Sources/CvTeamAI.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CvUnitInfo.cpp
  Sources/CvViewport.h
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilityGet.cpp
  Sources/CvXMLLoadUtilityModTools.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CvXMLLoadUtilitySetMod.cpp
  Sources/CyTeam.cpp
Labels: dll

#642 deleted #ifdef _USRDLL
  Sources/C2C (VS2019).vcxproj
  Sources/CvEnums.h
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvMap.h
  Sources/CvPlayerAI.h
  Sources/CvString.h
  Sources/CvTeamAI.h
  Sources/CvXMLLoadUtility.h
  Sources/Makefile
  Sources/Makefile.original
  Sources/fbuild.bff
Labels: dll

#643 deleted #ifdef FIXED_MISSION_NUMBER
  Sources/CvEnums.h
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyGlobalContext.cpp
Labels: dll

#639 Switched CvPlayer::getRealPopulation() to long long.
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvDLLWidgetData.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CyCity.cpp
  Sources/CyCity.h
  Sources/CyPlayer.cpp
  Sources/CyPlayer.h
Labels: dll

#633 Switched MAX_SURPLASS from 2000 to 200.
  Sources/CvCity.cpp
Labels: dll

#647 Switched some FAssert calls to FASSERT_BOUNDS
  Sources/CvArea.cpp
  Sources/CvBuildingFilters.cpp
  Sources/CvBuildingGrouping.cpp
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingList.cpp
  Sources/CvBuildingSort.cpp
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGame.cpp
  Sources/CvGlobals.cpp
  Sources/CvInfos.cpp
  Sources/CvInitCore.cpp
  Sources/CvInitCore.h
  Sources/CvMap.cpp
  Sources/CvOutcome.cpp
  Sources/CvOutcomeList.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlayerAI.h
  Sources/CvPlot.cpp
  Sources/CvPlotGroup.cpp
  Sources/CvProperties.cpp
  Sources/CvPropertyManipulators.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvStatistics.cpp
  Sources/CvStructs.cpp
  Sources/CvStructs.h
  Sources/CvTeam.cpp
  Sources/CvTeamAI.cpp
  Sources/CvTeamAI.h
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CvUnitFilters.cpp
  Sources/CvUnitGrouping.cpp
  Sources/CvUnitInfo.cpp
  Sources/CvUnitList.cpp
  Sources/CvUnitSort.cpp
  Sources/CvViewport.h
  Sources/CyTeam.cpp
  Sources/FAssert.h
Labels: dll

#655 added null pointer checks after CvPlayer::initUnit calls
  Sources/CvCity.cpp
  Sources/CvGame.cpp
  Sources/CvOutcome.cpp
  Sources/CvPlayer.cpp
  Sources/CvUnit.cpp
Labels: dll

#657 fix(Animal): Give desert tarantula the ability to make same stories as jungle tarantula
  Assets/XML/Units/Subdue_Animals_CIV4UnitInfos.xml
Labels: xml

#661 Adjustments to lake generation and functionality
  Assets/XML/Terrain/CIV4BonusInfos.xml
  Assets/XML/Terrain/CIV4FeatureInfos.xml
  Assets/XML/Terrain/CIV4ImprovementInfos.xml
  Assets/XML/Text/Improvements_CIV4GameText.xml
  PrivateMaps/C2C_World.py
Labels: python, text, xml

#638 Switched a couple typdefs.
  Sources/CounterSet.cpp
  Sources/CounterSet.h
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvDLLEngineIFaceBase.h
  Sources/CvDLLInterfaceIFaceBase.h
  Sources/CvDLLPythonIFaceBase.h
  Sources/CvDLLUtilityIFaceBase.h
  Sources/CvDLLWidgetData.cpp
  Sources/CvDLLXMLIFaceBase.h
  Sources/CvDiploParameters.cpp
  Sources/CvDiploParameters.h
  Sources/CvDllTranslator.cpp
  Sources/CvFractal.cpp
  Sources/CvFractal.h
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvGameCoreDLL.h
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameCoreUtils.h
  Sources/CvGameTextMgr.cpp
  Sources/CvGameTextMgr.h
  Sources/CvGlobals.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlot.cpp
  Sources/CvPopupInfo.cpp
  Sources/CvPopupInfo.h
  Sources/CvPopupReturn.cpp
  Sources/CvPopupReturn.h
  Sources/CvRandom.cpp
  Sources/CvRandom.h
  Sources/CvReplayInfo.cpp
  Sources/CvReplayInfo.h
  Sources/CvString.h
  Sources/CvStructs.h
  Sources/CvTaggedSaveFormatWrapper.cpp
  Sources/CvTaggedSaveFormatWrapper.h
  Sources/CvTalkingHeadMessage.cpp
  Sources/CvTalkingHeadMessage.h
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitInfo.cpp
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilityGet.cpp
  Sources/CyArgsList.cpp
  Sources/CyArgsList.h
  Sources/FDataIOStream.cpp
  Sources/FDataIOStream.h
  Sources/FDataStreamBase.h
  Sources/FVariableSystem.h
  Sources/FVariableSystem.inl
  Sources/LinkedList.h
  Sources/SCvDebug.cpp
  Sources/SCvDebug.h
Labels: dll

#662 feat(Language)
  Assets/XML/Text/Animals_CIV4GameText.xml
  Assets/XML/Text/Thunderbrd/Traits/Promotions_TB_CIV4GameText.xml
  Assets/XML/Text/Thunderbrd/Traits/Traits_TB_CIV4GameText.xml
  Assets/XML/Text/Units_CIV4GameText.xml
Labels: text, xml

#656 switched foreach_ loops to algo::for_each
  Sources/CvArea.cpp
  Sources/CvArea.h
  Sources/CvBuildingFilters.cpp
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvGame.cpp
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvPlotGroup.cpp
  Sources/CvPlotGroup.h
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroup.h
  Sources/CvTeam.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.h
  Sources/algorithm2.h
Labels: dll, python, text, xml

#619 Changed text for dormant volcano event.
  Assets/XML/Text/Events_CIV4GameText.xml
Labels: python, text, xml

#664 Removed redundant pop destroy entries, very tall grass destroys at pop=3
  Assets/XML/Terrain/CIV4FeatureInfos.xml
Labels: xml
