Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2021-03, with the labels that each got.

#887 feat(Language): German translations
  Assets/XML/Text/Alt_Timelines/Megafauna_Units/Mammoths/Mammoths_CIV4GameText.xml
  Assets/XML/Text/Animals_CIV4GameText.xml
  Assets/XML/Text/Combat_CIV4GameText.xml
  Assets/XML/Text/Global_CIV4GameText.xml
  Assets/XML/Text/GroupTitle_CIV4GameText.xml
  Assets/XML/Text/Revolution_CIV4GameText.xml
  Assets/XML/Text/Subdue_Animals_Unit_CIV4GameText.xml
  Assets/XML/Text/Units_CIV4GameText.xml
  Sources/CvGame.cpp
  Sources/CvOutcome.cpp
Labels: dll, text, xml

#878 added map category check for barb city spawn
  Sources/CvGame.cpp
Labels: dll

#889 Mod created three different file inside of game folder instead of mod…
  PrivateMaps/C2C_Planet_Generator_0_68.py
  PrivateMaps/C2C_SmartMap.py
  Sources/CvAllocator.cpp
Labels: dll, python

#886 Resource generation tweaks on scenarios
  Assets/Modules/Pepper2000/P2K_CIV4BonusInfos.xml
  PrivateMaps/Desert Planet fixed.CivBeyondSwordWBSave
  PrivateMaps/GEM - ROM 2.7 - 5 civs - Legacy.CivBeyondSwordWBSave
  PrivateMaps/LEM - Harrier - 10 Civs.CivBeyondSwordWBSave
  PrivateMaps/LEM - Harrier - 21 Civs.CivBeyondSwordWBSave
  PrivateMaps/LEM - Harrier - Raw.CivBeyondSwordWBSave
  PrivateMaps/SEM - Harrier - 20 Civs.CivBeyondSwordWBSave
  PrivateMaps/SEM - Harrier - 9 Civs.CivBeyondSwordWBSave
  PrivateMaps/SEM - Harrier - Raw.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Duel World.CivBeyondSwordWBSave
  PrivateMaps/Space Map - ItSmallWorld.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Large01_V3.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Large02_V3.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Large03_V3.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Large04_V3.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Large05_V3.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Standard01_V9.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Standard02_V7.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Standard03_V6.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Standard04_V6.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Standard05_V6.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Standard06_V6.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Standard07_V6.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Standard08_V6.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Standard09_V6.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Standard10_V6.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Snofru Standard11_V5.CivBeyondSwordWBSave
  PrivateMaps/Space Map - Standard_Solar_System_v10.CivBeyondSwordWBSave
  PrivateMaps/StrategyOnly's Land_Testing C2C_Narnia 17 st 69X59.CivBeyondSwordWBSave
  PrivateMaps/StrategyOnly.CivBeyondSwordWBSave
Labels: xml

#894 const
  Sources/BoolExpr.cpp
  Sources/BoolExpr.h
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGameObject.cpp
  Sources/CvGameObject.h
  Sources/CvGameTextMgr.cpp
  Sources/CvGameTextMgr.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvOutcome.cpp
  Sources/CvOutcomeMission.cpp
  Sources/CvOutcomeMission.h
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlayerAI.h
  Sources/CvProperties.cpp
  Sources/CvPropertyInteraction.cpp
  Sources/CvPropertyInteraction.h
  Sources/CvPropertyPropagator.cpp
  Sources/CvPropertyPropagator.h
  Sources/CvPropertySolver.cpp
  Sources/CvPropertySolver.h
  Sources/CvPropertySource.cpp
  Sources/CvPropertySource.h
  Sources/CvSelectionGroup.h
  Sources/CvSelectionGroupAI.cpp
  Sources/CvSelectionGroupAI.h
  Sources/CvTeam.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
  Sources/IntExpr.cpp
  Sources/IntExpr.h
Labels: dll

#891 Switched some logs to mod folder
  .gitignore
  Sources/CvGameCoreDLL.cpp
  Sources/logging.cpp
  Sources/logging.h
Labels: dll

#895 switched more logs to mod folder
  Sources/CvGame.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvGlobals.cpp
  Sources/CvXMLLoadUtility.cpp
  Sources/CvXMLLoadUtilitySetMod.cpp
  Sources/FAssert.cpp
  Sources/logging.cpp
  Sources/logging.h
Labels: dll

#870 deleted 2 unused functions
  Sources/CvGameTextMgr.cpp
  Sources/CvGameTextMgr.h
  Sources/CyGameTextMgr.cpp
  Sources/CyGameTextMgr.h
  Sources/CyGameTextMgrInterface.cpp
Labels: dll

#873 deleted a bit of unused info cache code
  Sources/CvXMLLoadUtilitySet.cpp
Labels: dll

#864 deleted unused parameter and added const
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvInfoWater.cpp
  Sources/CvInfoWater.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvOutcome.cpp
  Sources/CvOutcome.h
  Sources/CvOutcomeList.cpp
  Sources/CvOutcomeList.h
  Sources/CvOutcomeMission.cpp
  Sources/CvOutcomeMission.h
  Sources/CvProperties.cpp
  Sources/CvProperties.h
  Sources/CvPropertyInteraction.cpp
  Sources/CvPropertyInteraction.h
  Sources/CvPropertyManipulators.cpp
  Sources/CvPropertyManipulators.h
  Sources/CvPropertyPropagator.cpp
  Sources/CvPropertyPropagator.h
  Sources/CvPropertySource.cpp
  Sources/CvPropertySource.h
  Sources/CvUnitInfo.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/IDValueMap.h
Labels: dll

#868 foreach
  Sources/CvBuildingInfo.cpp
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvDLLWidgetData.cpp
  Sources/CvDate.cpp
  Sources/CvGame.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvGlobals.cpp
  Sources/CvInfos.cpp
  Sources/CvMessageData.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPlotPaging.cpp
  Sources/CvProperties.cpp
  Sources/CvReplayInfo.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvTaggedSaveFormatWrapper.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilityModTools.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/SCvInternalGlobals.cpp
  Sources/Win32.cpp
Labels: dll

#874 deleted some pointless code
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvInfos.cpp
  Sources/CvXMLLoadUtilityModTools.cpp
  Sources/CvXMLLoadUtilityModTools.h
  Sources/CvXMLLoadUtilitySet.cpp
Labels: dll

#898 const
  Sources/BoolExpr.cpp
  Sources/BoolExpr.h
  Sources/CvGameObject.cpp
  Sources/CvGameObject.h
  Sources/CvGameTextMgr.cpp
  Sources/CvGameTextMgr.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvOutcomeMission.cpp
  Sources/CvOutcomeMission.h
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlayerAI.h
  Sources/CvProperties.cpp
  Sources/CvPropertyInteraction.cpp
  Sources/CvPropertyInteraction.h
  Sources/CvPropertyPropagator.cpp
  Sources/CvPropertyPropagator.h
  Sources/CvPropertySolver.cpp
  Sources/CvPropertySolver.h
  Sources/CvPropertySource.cpp
  Sources/CvPropertySource.h
  Sources/CvSelectionGroup.h
  Sources/CvSelectionGroupAI.cpp
  Sources/CvSelectionGroupAI.h
  Sources/CvTeam.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
  Sources/IntExpr.cpp
  Sources/IntExpr.h
Labels: dll

#899 added value to some Fassert
  Sources/CvArea.cpp
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvContractBroker.cpp
  Sources/CvFractal.cpp
  Sources/CvGame.cpp
  Sources/CvGameCoreUtils.cpp
  Sources/CvMap.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvTeam.cpp
  Sources/CvTeamAI.cpp
  Sources/CvUnit.cpp
  Sources/CvXMLLoadUtilitySetMod.cpp
  Sources/FAssert.h
  Sources/FFreeListTrashArray.h
Labels: dll

#900 merged MapInfo and MapCategoryInfo
  Assets/XML/GameInfo/CIV4MapInfo.xml
  Assets/XML/GameInfo/CIV4MapSwitchInfo.xml
  Assets/XML/Schema/C2C_CIV4GameInfoSchema.xml
  Assets/XML/Schema/Caveman2Cosmos.xsd
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvEnums.h
  Sources/CvGame.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvStructs.h
  Sources/CvTaggedSaveFormatWrapper.cpp
  Sources/CvTaggedSaveFormatWrapper.h
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CvUnitInfo.cpp
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyEnumsInterface.cpp
  Sources/CyGlobalContext.cpp
  Sources/CyGlobalContext.h
  Sources/CyGlobalContextInterface1.cpp
  Sources/CyInfoInterface3.cpp
  Sources/GlobalDefines.h
  Sources/algorithm2.h
Labels: dll, xml

#901 Added Battleworn feature macro and turned it off
  Sources/CvGameCoreDLL.h
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayerAI.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitInfo.cpp
Labels: dll

#904 fixed mistake in python::list functions I added
  Sources/CyMap.cpp
  Sources/CyPlayer.cpp
  Sources/CyPlot.cpp
Labels: dll

#906 Added MapType enums
  Sources/CvBuildingInfo.cpp
  Sources/CvEnums.h
  Sources/CvGame.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvGlobals.cpp
  Sources/CvInfos.cpp
  Sources/CvPlayer.cpp
  Sources/CvUnitInfo.cpp
Labels: dll

#909 added getMapScript function
  Sources/CvGame.cpp
  Sources/CvMap.cpp
  Sources/CvMap.h
  Sources/CvMapGenerator.cpp
  Sources/CvMapGenerator.h
  Sources/CvPlayer.cpp
Labels: dll

#910 Tweaked some code I added on init()
  Assets/Python/Contrib/ParallelMaps.py
  Sources/CvGame.cpp
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvMap.cpp
  Sources/CvMap.h
  Sources/CvMapExternal.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvTaggedSaveFormatWrapper.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyEnumsInterface.cpp
  Sources/CyGlobalContext.cpp
  Sources/CyGlobalContext.h
  Sources/CyGlobalContextInterface3.cpp
  Sources/CyMap.cpp
  Sources/CyMap.h
  Sources/CyMapInterface.cpp
Labels: dll, python
