Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2021-11, with the labels that each got.

#1216 Yield ratio and value refactor
  Sources/C2C (VS2019).sln.DotSettings
  Sources/C2C (VS2019).vcxproj
  Sources/C2C (VS2019).vcxproj.filters
  Sources/CvCityAI.cpp
  Sources/CvCityAI.h
  Sources/CvPropertySource.cpp
  Sources/CvStructs.cpp
  Sources/CvStructs.h
  Sources/CvTaggedSaveFormatWrapper.cpp
  Sources/CvUnitAI.cpp
  Sources/CvValueService.cpp
  Sources/CvValueService.h
  Sources/OutputRatios.cpp
  Sources/OutputRatios.h
  Sources/PlotInfo.cpp
  Sources/PlotInfo.h
Labels: dll

#1219 fixed 3 typos in Great People Text
  Assets/XML/GameText/CIV4GameTextInfos_GreatPeople.xml
Labels: xml

#1210 switched an array that wasn't being deleted
  Sources/CheckSum.h
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvGameTextMgr.cpp
  Sources/CvImprovementInfo.cpp
  Sources/CvImprovementInfo.h
  Sources/CvPlayerAI.cpp
  Sources/CvStructs.h
  Sources/CvTeam.cpp
  Sources/CvXMLLoadUtility.h
  Sources/IDValueMap.h
Labels: dll

#1220 Worker tweaks and other refactor
  .editorconfig
  Assets/Modules/Cultures/Cultures_Cultural_CIV4UnitInfos.xml
  Assets/XML/Terrain/CIV4ImprovementInfos.xml
  Sources/.editorconfig
  Sources/C2C (VS2019).vcxproj
  Sources/C2C (VS2019).vcxproj.filters
  Sources/CvCityAI.cpp
  Sources/CvOutcome.cpp
  Sources/CvPlayer.cpp
  Sources/CvSettlerAI.cpp
  Sources/CvSettlerAI.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
  Sources/CvValueService.cpp
  Sources/CvValueService.h
  Sources/CvWorkerAI.cpp
  Sources/CvWorkerAI.h
  Sources/GroupingParams.h
Labels: xml, dll
