Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2021-07, with the labels that each got.

#1051 did what py lint wants
  Tools/Autocorrect/Autocorrect.py
  Tools/XMLTools/verify-python-callbacks.py
Labels: tool

#1053 deleted a parameter
  Assets/Python/Screens/CvCivicsScreen.py
  Assets/Python/Screens/CvDebugInfoScreen.py
  Assets/Python/Screens/CvFinanceAdvisor.py
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CyInfoInterface2.cpp
  Sources/CyPlayer.cpp
  Sources/CyPlayer.h
  Sources/CyPlayerInterface1.cpp
  Sources/CyPlayerInterface3.cpp
Labels: dll, python

#1054 merged CvMainPropertySolver and CvPropertySolver
  Sources/BoolExpr.cpp
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvDLLButtonPopup.cpp
  Sources/CvDllPythonEvents.cpp
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvGameObject.cpp
  Sources/CvMap.cpp
  Sources/CvMapGenerator.cpp
  Sources/CvMessageData.cpp
  Sources/CvOutcomeMission.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvProperties.cpp
  Sources/CvPropertySolver.cpp
  Sources/CvPropertySolver.h
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroupAI.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/IntExpr.cpp
Labels: dll

#1055 revert
  Assets/Python/Screens/CvDomesticAdvisor.py
  Assets/Python/Screens/Pedia/Pedia.py
  Assets/Python/Screens/RevolutionWatchAdvisor.py
  Sources/CvBuildingInfo.cpp
  Sources/CvCity.cpp
  Sources/CvGameCoreUtils.cpp
  Sources/CvInfos.cpp
  Sources/CvUnitAI.cpp
  Sources/CvUnitInfo.cpp
Labels: dll, python

#1057 switched plots array to vector
  Sources/CvMap.cpp
  Sources/CvMap.h
  Sources/CvMapInterfaceBase.h
  Sources/CvPlot.h
  Sources/CvPlotPaging.cpp
  Sources/CvTeamAI.cpp
  Sources/CvViewport.cpp
  Sources/CvViewport.h
Labels: dll

#1058 deleted unused quest info
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyInfoInterface4.cpp
Labels: dll

#925 added params to city plot iter
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvGameObject.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvTeamAI.cpp
  Sources/CvUnitAI.cpp
Labels: dll

#1059 deleted CvTutorialInfo
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyInfoInterface4.cpp
Labels: dll

#974 switched CyUnit::isNone()
  Assets/Python/Contrib/UnitNameEventManager.py
  Assets/Python/CvEventManager.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/Python/Revolution/RevUtils.py
  Assets/Python/Screens/Worldbuilder/WBEventScreen.py
  Assets/Python/Screens/Worldbuilder/WBInfoScreen.py
  Assets/Python/Screens/Worldbuilder/WBPlayerUnits.py
  Assets/Python/Screens/Worldbuilder/WBPromotionScreen.py
  Assets/Python/Screens/Worldbuilder/WBUnitScreen.py
  Assets/Python/Screens/Worldbuilder/WorldBuilder.py
  Sources/CyCity.cpp
  Sources/CyPlayer.cpp
  Sources/CySelectionGroup.cpp
  Sources/CyUnit.cpp
  Sources/CyUnit.h
  Sources/CyUnitInterface1.cpp
Labels: dll, python

#1062 switched some readpass2 to delayed resolution
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvDLLButtonPopup.cpp
  Sources/CvDLLWidgetData.cpp
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvImprovementInfo.cpp
  Sources/CvImprovementInfo.h
  Sources/CvInfoReplacements.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvPlot.cpp
  Sources/CvTeam.cpp
  Sources/CvUnit.cpp
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilitySet.cpp
Labels: dll

#1061 minor tweaks to raxxos debug code
  Assets/Python/Screens/Debug/TestCode.py
  Sources/CyEnumsInterface.cpp
Labels: dll, python

#1060 switched logs back to bts path
  Sources/CvGameCoreDLL.cpp
  Sources/CyGame.cpp
  Sources/CyGame.h
  Sources/CyGameInterface.cpp
  Sources/logging.cpp
  Sources/logging.h
Labels: dll

#1063 Exposed some BoolExpr code to python
  Assets/Python/Screens/Debug/TestCode.py
  Sources/BoolExpr.h
  Sources/C2C (VS2019).vcxproj
  Sources/C2C (VS2019).vcxproj.filters
  Sources/CvDLLPython.cpp
  Sources/CyBoolExprInterface.cpp
  Sources/CyInfoInterface1.cpp
Labels: dll, python

#1065 modified python GOM func
  Assets/Python/Screens/Debug/TestCode.py
  Assets/Python/Screens/Pedia/PediaBonus.py
  Sources/BoolExpr.h
Labels: dll, python

#1064 added brackets
  Tools/XMLTools/TechSearcher.py
Labels: tool

#1067 Obsoletion replacement review
  Assets/Modules/Alt_Timelines/Atompunk/AtomPunk_CIV4BuildingInfos.xml
  Assets/Modules/Alt_Timelines/Biopunk/BioPunk_CIV4BuildingInfos.xml
  Assets/Modules/Alt_Timelines/Clockpunk/Clockpunk_CIV4BuildingInfos.xml
  Assets/Modules/Alt_Timelines/Megafauna_Units/Bison_Rider/BisonTrainer_CIV4BuildingInfos.xml
  Assets/Modules/Alt_Timelines/Megafauna_Units/Rhinoceros/Rhinoceros_CIV4BuildingInfos.xml
  Assets/Modules/Alt_Timelines/Megafauna_Units/Zebra_Mounts/ZebraMounts_CIV4BuildingInfos.xml
  Assets/Modules/Custom_Religions/Std_RoM_Religions/RoM_Religions_CIV4BuildingInfos.xml
  Assets/Modules/DancingHoskuld/DanceTheory/DT_CIV4BuildingInfos.xml
  Assets/Modules/Pepper2000/Pepper2000Cosmic_CIV4BuildingInfos.xml
  Assets/Modules/Pepper2000/Pepper2000Earth_CIV4BuildingInfos.xml
  Assets/Python/Screens/Debug/TestCode.py
  Assets/Python/Screens/Pedia/PediaBuilding.py
  Assets/Python/Screens/Pedia/PediaTech.py
  Assets/Python/Screens/Pedia/PediaUnit.py
  Assets/XML/Buildings/GreatWonders_CIV4BuildingInfos.xml
  Assets/XML/Buildings/NationalWonders_CIV4BuildingInfos.xml
  Assets/XML/Buildings/Regular_CIV4BuildingInfos.xml
  Assets/XML/Buildings/SpecialBuildings_CIV4BuildingInfos.xml
  Assets/XML/Buildings/zAnimals_CIV4BuildingInfos.xml
  Sources/BoolExpr.h
  Sources/CyBoolExprInterface.cpp
  Sources/CyInfoInterface1.cpp
Labels: dll, python, xml

#1069 fixed assert from NULL CyUnit
  Sources/CvDllPythonEvents.cpp
Labels: dll

#1066 switched some readpass2 to delayed resolution
  Assets/Python/CvGameUtils.py
  Assets/Python/Screens/CvMainInterface.py
  Assets/Python/Screens/Worldbuilder/WBCityEditScreen.py
  Sources/CheckSum.h
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvDLLPython.cpp
  Sources/CvDLLWidgetData.cpp
  Sources/CvDate.cpp
  Sources/CvDate.h
  Sources/CvGame.cpp
  Sources/CvGameInterface.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvGlobals.h
  Sources/CvImprovementInfo.cpp
  Sources/CvImprovementInfo.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvInitCore.h
  Sources/CvMap.cpp
  Sources/CvOutcome.cpp
  Sources/CvOutcome.h
  Sources/CvOutcomeList.cpp
  Sources/CvOutcomeList.h
  Sources/CvOutcomeMission.cpp
  Sources/CvOutcomeMission.h
  Sources/CvPathGenerator.cpp
  Sources/CvPathGenerator.h
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvTaggedSaveFormatWrapper.cpp
  Sources/CvTaggedSaveFormatWrapper.h
  Sources/CvTeam.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CvUnitInfo.cpp
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyCity.cpp
  Sources/CyCity.h
  Sources/CyCityInterface1.cpp
  Sources/CyPlayer.cpp
  Sources/CyPlayer.h
  Sources/CyPlayerInterface1.cpp
  Sources/FDataIOStream.cpp
  Sources/FDataIOStream.h
  Sources/FDataStreamBase.h
Labels: dll, python

#1070 fixed NULL CyUnit assert 2
  Sources/CvDllPythonEvents.cpp
Labels: dll

#1072 switched CvBuilding::getGlobalBuildingCommerceChange loop
  Assets/Python/Screens/Debug/TestCode.py
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CyInfoInterface1.cpp
  Sources/CyStructsInterface1.cpp
Labels: dll, python

#1078 added back CvMapCategoryInfo
  Assets/XML/GameInfo/CIV4MapInfo.xml
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvEnums.h
  Sources/CvGame.cpp
  Sources/CvGameCoreUtils.h
  Sources/CvGameTextMgr.cpp
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvImprovementInfo.cpp
  Sources/CvImprovementInfo.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvStructs.h
  Sources/CvTaggedSaveFormatWrapper.cpp
  Sources/CvTaggedSaveFormatWrapper.h
  Sources/CvUnit.cpp
  Sources/CvUnitInfo.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyInfoInterface1.cpp
  Sources/GlobalDefines.h
Labels: dll, xml

#1077 Map info and map category are completery separate concepts
  Assets/XML/GameInfo/CIV4MapInfo.xml
  Assets/XML/GameText/Global_CIV4GameText.xml
Labels: xml

#1084 switch CyMap when GC.switchMap() is called
  Sources/CvGlobals.cpp
Labels: dll

#1087 Pylinter stuff
  Assets/Python/Screens/Debug/DebugScreen.py
Labels: python

#1079 switched parallel maps global define
  Assets/Python/Contrib/ParallelMaps.py
  Assets/Python/Screens/CvMainInterface.py
  Assets/XML/GameInfo/CIV4MapInfo.xml
  Assets/XML/ParallelMaps_GlobalDefines.xml
  PrivateMaps/Multimaps/MM_01_CISLUNAR.CivBeyondSwordWBSave
  PrivateMaps/Multimaps/MM_02_MOON.CivBeyondSwordWBSave
  PrivateMaps/Multimaps/MM_03_MARS.CivBeyondSwordWBSave
  PrivateMaps/Multimaps/MM_04_VENUS.CivBeyondSwordWBSave
  PrivateMaps/Multimaps/MM_05_INNNER_SOLAR_SYSTEM.CivBeyondSwordWBSave
  PrivateMaps/Multimaps/MM_06_OUTER_SOLAR_SYSTEM.CivBeyondSwordWBSave
  PrivateMaps/Multimaps/MM_07_TITAN.CivBeyondSwordWBSave
  PrivateMaps/Multimaps/MM_08_KUIPER.CivBeyondSwordWBSave
  PrivateMaps/Multimaps/MM_09_NEARBY_STARS.CivBeyondSwordWBSave
  PrivateMaps/Multimaps/MM_10_ORION_ARM.CivBeyondSwordWBSave
  PrivateMaps/Multimaps/MM_11_MILKY_WAY.CivBeyondSwordWBSave
  PrivateMaps/Multimaps/MM_12_LOCAL_GROUP.CivBeyondSwordWBSave
  PrivateMaps/Multimaps/MM_13_VIRGO_SUPERCLUSTER.CivBeyondSwordWBSave
  PrivateMaps/Multimaps/MM_14_UNIVERSE.CivBeyondSwordWBSave
  PrivateMaps/Multimaps/MM_15_DISTANT_COSMOS.CivBeyondSwordWBSave
  Sources/CvGlobals.cpp
  Sources/CvMap.cpp
  Sources/CvMap.h
  Sources/CvMapInterfaceBase.cpp
  Sources/CvMapInterfaceBase.h
  Sources/CvViewport.cpp
  Sources/CvViewport.h
  Sources/CyMap.cpp
  Sources/CyMap.h
  Sources/CyMapInterface.cpp
Labels: dll, python, xml

#1089 Deleted pointless viewport funcs
  Sources/CvGlobals.cpp
  Sources/CvMap.cpp
  Sources/CvMap.h
  Sources/CvMapExternal.cpp
  Sources/CvMapExternal.h
  Sources/CvMapInterfaceBase.h
  Sources/CvViewport.cpp
  Sources/CvViewport.h
Labels: dll

#1091 Parallel maps move units mission
  Assets/Python/Contrib/ParallelMaps.py
  Sources/CvGame.cpp
  Sources/CvGameCoreDLL.h
  Sources/CvGlobals.cpp
  Sources/CvMap.cpp
  Sources/CvMap.h
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlot.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
Labels: dll, python

#1095 moved outcome mission python code from CvRandomEventInterface to a new file
  Assets/Python/EntryPoints/CvOutcomeInterface.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Sources/CvDefines.h
  Sources/CvOutcome.cpp
  Sources/IntExpr.cpp
Labels: dll, python

#1096 made the viewport for every map the same size as earth when viewports is off
  Sources/CvDLLButtonPopup.cpp
  Sources/CvGameInterface.cpp
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvMap.cpp
  Sources/CvMap.h
  Sources/CvPlayer.cpp
  Sources/CvPlot.cpp
  Sources/CvViewport.cpp
  Sources/CvViewport.h
  Sources/CyMap.cpp
  Sources/GlobalDefines.h
Labels: dll

#1098 revert broken commit
  Assets/Python/Contrib/ParallelMaps.py
  Sources/CvGame.cpp
  Sources/CvGameCoreDLL.h
  Sources/CvGlobals.cpp
  Sources/CvMap.cpp
  Sources/CvMap.h
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlot.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
Labels: dll, python
