Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2021-09, with the labels that each got.

#1142 exposed some CvPropertyManipulators stuff to python
  Assets/Python/Screens/Debug/HelperFunctions.py
  Assets/Python/Screens/Debug/TestCode.py
  Sources/CvDLLPython.cpp
  Sources/CvPropertyManipulators.cpp
  Sources/CvPropertyManipulators.h
  Sources/CvPropertySource.h
  Sources/CyInfoInterface1.cpp
  Sources/CyIntExprInterface.cpp
  Sources/CyPropertiesInterface.cpp
  Sources/IntExpr.h
Labels: python, dll

#1140 modified IDValueMap so value can be an array
  Assets/Python/Screens/Debug/TestCode.py
  Assets/XML/Buildings/Regular_CIV4BuildingInfos.xml
  Assets/XML/Schema/C2C_CIV4BuildingsSchema.xml
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvStructs.h
  Sources/CyInfoInterface1.cpp
  Sources/CyStructsInterface1.cpp
  Sources/IDValueMap.h
Labels: xml, python, dll

#1145 cleaned up some python interface code I added
  Sources/BoolExpr.h
  Sources/CvPropertySource.h
  Sources/CyBoolExprInterface.cpp
  Sources/CyIntExprInterface.cpp
  Sources/CyPropertiesInterface.cpp
  Sources/IntExpr.h
Labels: dll

#1147 switched CvOutcomeInfo::readpass2 to delayed resolution
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvOutcome.cpp
  Sources/CvOutcomeList.cpp
  Sources/CvXMLLoadUtilitySet.cpp
Labels: dll

#1150 scored building value long long
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvCityAI.h
  Sources/CvDLLButtonPopup.cpp
Labels: dll

#1148 Tweak growth balance
  Assets/XML/GlobalDefines.xml
  Assets/XML/Terrain/CIV4BonusInfos.xml
Labels: xml

#1151 const and foreach
  Sources/CvCityAI.cpp
  Sources/CvDLLButtonPopup.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfoWater.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvSelectionGroup.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
  Sources/CvUnitInfo.cpp
Labels: dll

#1156 added value to var incase it is not saved
  Sources/CvCity.cpp
Labels: dll

#1155 wrapped 2 array with boost::scoped_array
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
Labels: dll

#1152 code that can help adding/changing xml tags in the dll
  Sources/C2C (VS2019).vcxproj
  Sources/C2C (VS2019).vcxproj.filters
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvInfoUtil.h
  Sources/CyInfoInterface1.cpp
Labels: dll

#1160 added templated CvXMLLoadUtility::InitList methods
  Sources/CvBuildingInfo.cpp
  Sources/CvImprovementInfo.cpp
  Sources/CvInfos.cpp
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilityInit.cpp
  Sources/CvXMLLoadUtilitySet.cpp
Labels: dll

#1159 Exposed CvInfoUtil to python
  Assets/Python/EntryPoints/CvInfoUtilInterface.py
  Sources/CvDLLPython.cpp
  Sources/CvGlobals.cpp
  Sources/CvInfoUtil.h
  Sources/CvInfos.h
Labels: python, dll

#1165 more code for loading xml
  Assets/Python/EntryPoints/CvInfoUtilInterface.py
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvGlobals.cpp
  Sources/CvInfoUtil.h
  Sources/CvInfos.h
  Sources/CvXMLLoadUtility.h
  Sources/IDValueMap.h
Labels: python, dll

#1167 revert changes to tag I broke
  Sources/CvBuildingInfo.cpp
Labels: dll

#1171 exposed IDValueMap to python
  Assets/Python/EntryPoints/CvAppInterface.py
  Assets/Python/Screens/Debug/TestCode.py
  Assets/Python/Screens/Pedia/PediaBuilding.py
  Sources/C2C (VS2019).vcxproj
  Sources/C2C (VS2019).vcxproj.filters
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCityAI.cpp
  Sources/CvDLLPython.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvPython.h
  Sources/CyInfoInterface1.cpp
  Sources/CyIterator.h
  Sources/IDValueMap.h
Labels: python, dll

#1173 exposed vector to python
  Assets/Python/EntryPoints/CvAppInterface.py
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvDLLPython.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvUnitInfo.cpp
  Sources/CyInfoInterface1.cpp
  Sources/CyInfoInterface2.cpp
  Sources/CyInfoInterface3.cpp
  Sources/CyIterator.h
  Sources/CyMap.cpp
  Sources/FAssert.h
  Sources/IDValueMap.h
Labels: python, dll

#1174 switched an array to IDValueMap
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGameTextMgr.cpp
  Sources/IDValueMap.h
Labels: dll

#1175 deleted unused python event
  Assets/Python/BUG/BugEventManager.py
  Sources/CvDllPythonEvents.cpp
  Sources/CvDllPythonEvents.h
  Sources/CvEventReporter.cpp
  Sources/CvEventReporter.h
  Sources/CvPlayer.cpp
  Sources/CvPython.h
Labels: python, dll

#1176 fixed warning from my last commit
  Sources/CyIterator.h
Labels: dll

#1181 moved EnablesOtherBuildings to CvBuildingInfo::doPostLoadCaching()
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvGlobals.h
Labels: dll
