Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2021-06, with the labels that each got.

#1008 switched SetOptionalIntVector calls to SetOptionalVector
  Sources/CvBuildingInfo.cpp
  Sources/CvImprovementInfo.cpp
  Sources/CvInfos.cpp
  Sources/CvUnitInfo.cpp
  Sources/CvXMLLoadUtility.h
Labels: dll

#1009 deleted unused variables
  Sources/CvBuildingInfo.cpp
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvDLLButtonPopup.cpp
  Sources/CvGame.cpp
  Sources/CvGameCoreDLL.h
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvGlobals.h
  Sources/CvImprovementInfo.cpp
  Sources/CvInfoReplacements.h
  Sources/CvInfoWater.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvMessageData.cpp
  Sources/CvPathGenerator.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvTeam.cpp
  Sources/CvTeamAI.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CvUnitInfo.cpp
Labels: dll

#1007 switched vector to IDValueMap
  Sources/CvBuildingFilters.cpp
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvStructs.h
  Sources/CvXMLLoadUtility.h
  Sources/IDValueMap.h
Labels: dll

#728 Route change fix
  Assets/Python/BUG/BugGameUtils.py
  Assets/Python/CvGameUtils.py
  Assets/Python/EntryPoints/CvAppInterface.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Sources/CvCity.cpp
  Sources/CvGame.cpp
  Sources/CvTeam.cpp
Labels: dll, python

#1015 deleted some unused code
  Sources/CvPropertyInteraction.cpp
  Sources/CvPropertyInteraction.h
  Sources/CvPropertyPropagator.cpp
  Sources/CvPropertyPropagator.h
  Sources/CvPropertySource.cpp
  Sources/CvPropertySource.h
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilitySet.cpp
Labels: dll

#1016 switched arrays that use global defines to vectors
  Assets/Modules/Pepper2000/P2K_CIV4RouteInfos.xml
  Assets/Python/Contrib/AbandonCityEventManager.py
  Assets/Python/Contrib/Pedia/Pedia.py
  Assets/Python/Contrib/Pedia/PediaBonus.py
  Assets/Python/Contrib/Pedia/PediaBuilding.py
  Assets/Python/Contrib/Pedia/PediaTech.py
  Assets/Python/Contrib/Pedia/PediaUnit.py
  Assets/Python/Contrib/Sevopedia/SevoPediaRoute.py
  Assets/Python/Contrib/TechWindow.py
  Assets/Python/Contrib/TechWindowOld.py
  Assets/Python/Contrib/TechWindowWide.py
  Assets/Python/CvAdvisorUtils.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/Python/MapScriptTools.py
  Assets/Python/Revolution/Gameready/BarbarianCiv.py
  Assets/Python/Screens/CvTechChooser.py
  Assets/XML/GlobalDefines.xml
  Assets/XML/Misc/CIV4RouteInfos.xml
  Sources/CvBuildingFilters.cpp
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvDLLWidgetData.cpp
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvTeam.cpp
  Sources/CvUnitInfo.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyGlobalContext.h
  Sources/CyGlobalContextInterface2.cpp
  Sources/CyInfoInterface1.cpp
  Sources/CyInfoInterface2.cpp
  Sources/GlobalDefines.h
Labels: dll, python, xml

#1012 const
  Sources/BoolExpr.cpp
  Sources/BoolExpr.h
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGame.cpp
  Sources/CvGameObject.cpp
  Sources/CvGameObject.h
  Sources/CvGameTextMgr.cpp
  Sources/CvInfoReplacements.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvOutcome.cpp
  Sources/CvOutcome.h
  Sources/CvOutcomeMission.cpp
  Sources/CvOutcomeMission.h
  Sources/CvProperties.h
  Sources/CvPropertyInteraction.h
  Sources/CvPropertyPropagator.h
  Sources/CvPropertySource.cpp
  Sources/CvPropertySource.h
  Sources/CvStructs.h
  Sources/CvUnitInfo.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/IntExpr.cpp
  Sources/IntExpr.h
  Sources/algorithm2.h
Labels: dll

#1018 exposed TechHappinessTypes and TechHealthTypes to python
  Sources/CvBuildingInfo.h
  Sources/CyInfoInterface1.cpp
  Sources/CyStructsInterface1.cpp
  Sources/IDValueMap.h
Labels: dll

#1021 deleted an unused call to python
  Sources/CvGameInterface.cpp
Labels: dll

#1023 const
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvCityAI.h
  Sources/CvDLLWidgetData.cpp
  Sources/CvGameCoreDLL.def
  Sources/CvGameCoreDLL.h
  Sources/CvGameTextMgr.cpp
  Sources/CvGameTextMgr.h
  Sources/CvPlot.cpp
  Sources/CvPlot.h
Labels: dll

#1024 added delete for m_commander and added CvUnitComponents to vs files
  Sources/C2C (VS2019).vcxproj
  Sources/C2C (VS2019).vcxproj.filters
  Sources/CvUnit.cpp
Labels: dll

#1026 switched a loop for unit build types to foreach_
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitInfo.cpp
Labels: dll

#1028 const
  Sources/CvCityAI.cpp
  Sources/CvCityAI.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlayerAI.h
Labels: dll

#1032 fixed python error
  PrivateMaps/C2C_World_Remixed.py
Labels: python

#1034 added vs project file for python
  Assets/Python/Python.pyproj
  Sources/C2C (VS2019).sln
Labels: dll, python

#1033 call policies to convert int from python to enum
  Sources/CvDLLPython.cpp
  Sources/CvGameCoreDLL.h
  Sources/CvPython.h
  Sources/CyArea.cpp
  Sources/CyArea.h
  Sources/CyGame.cpp
  Sources/CyGame.h
Labels: dll

#1038 switched an array to an IDValueMap
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvPlayer.cpp
  Sources/IDValueMap.h
Labels: dll

#1039 switched an array to IDValueMap
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGameTextMgr.cpp
  Sources/IDValueMap.h
Labels: dll

#1040 switched array to IDValueMap
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvPlayer.cpp
  Sources/IDValueMap.h
Labels: dll

#1043 Solved a turn 0 OOS issue.
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvInitCore.cpp
  Sources/CvInitCore.h
  Sources/CvMessageData.cpp
  Sources/CvPlayer.cpp
Labels: dll

#1042 switched array to IDValueMap
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvPlayer.cpp
Labels: dll

#1044 switch default for max units/buildings from -1 to 0 to fix FAssert
  Assets/Python/Screens/CvDomesticAdvisor.py
  Assets/Python/Screens/Pedia/Pedia.py
  Assets/Python/Screens/RevolutionWatchAdvisor.py
  Sources/CvBuildingInfo.cpp
  Sources/CvCity.cpp
  Sources/CvGameCoreUtils.cpp
  Sources/CvInfos.cpp
  Sources/CvUnitAI.cpp
  Sources/CvUnitInfo.cpp
Labels: dll, python

#1047 switched int to enum
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvDLLPython.cpp
  Sources/CvDLLWidgetData.cpp
  Sources/CvGame.cpp
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameInterface.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvOutcome.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvTeam.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CvUnitFilters.cpp
  Sources/CvUnitInfo.cpp
  Sources/CyInfoInterface1.cpp
  Sources/CyUnit.cpp
  Sources/CyUnit.h
Labels: dll

#1049 added line I forgot to make python int work for property types
  Sources/CvDLLPython.cpp
Labels: dll
