Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2021-05, with the labels that each got.

#971 rect iter
  Sources/CvDLLWidgetData.cpp
  Sources/CvGameObject.cpp
  Sources/CvMap.cpp
  Sources/CvMapGenerator.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvUnitAI.cpp
Labels: dll

#972 exposed rect iter to python
  Assets/Python/Contrib/autologEventManager.py
  Assets/Python/CvEventManager.py
  Assets/Python/DancingHoskuld/Partisan.py
  Assets/Python/Revolution/Gameready/Revolution.py
  Assets/Python/Screens/CvInfoScreen.py
  Sources/CyPlot.cpp
  Sources/CyPlot.h
  Sources/CyPlotInterface1.cpp
Labels: dll, python

#845 enabled python error: no-value-for-parameter
  Assets/Python/CvEventManager.py
  Assets/Python/DancingHoskuld/DH_Utils.py
  Assets/Python/OrionsMods/Immigration/ImmigrationGameUtils.py
  Assets/Python/Screens/RevolutionWatchAdvisor.py
  Assets/Python/Screens/Worldbuilder/WBDiplomacyScreen.py
  Assets/Python/Utilities/DebugUtils.py
  Tools/Lint/.pylintrc_for_python_2
Labels: python, tool

#812 enabled python error: function-redefined
  Assets/Python/MapScriptTools.py
  PrivateMaps/C2C_Planet_Generator_0_68.py
  PrivateMaps/C2C_SmartMap.py
  Tools/Lint/.pylintrc_for_python_2
Labels: python, tool

#970 Disabled Captive Build Actions - it destroys AIs ability to value builds
  Assets/Modules/Pepper2000/P2K_CIV4BuildInfos.xml
  Assets/Modules/Thunderbrd/Traits/C2C_TB_CIV4TraitInfos.xml
  Assets/XML/Text/Build_CIV4GameText.xml
  Assets/XML/Text/Captives_Build_CIV4GameText.xml
  Assets/XML/Text/Improvements_CIV4GameText.xml
  Assets/XML/Text/Pepper2000/P2K_CIV4GameText.xml
  Assets/XML/Units/CIV4BuildInfos.xml
  Assets/XML/Units/U_Land_CIV4UnitInfos.xml
  Assets/XML/Units/U_Neanderthals_CIV4UnitInfos.xml
  Assets/XML/Units/zU_Captives_CIV4BuildInfos.xml
Labels: text, xml

#817 enabled python error: unused-variable
  Assets/Python/BUG/BugOptionsTab.py
  Assets/Python/BUG/BugUtil.py
  Assets/Python/BUG/Tabs/ANDAutomationsTab.py
  Assets/Python/BUG/Tabs/ANDDiplomacyTab.py
  Assets/Python/BUG/Tabs/BugACOOptionsTab.py
  Assets/Python/BUG/Tabs/BugAdvisorOptionsTab.py
  Assets/Python/BUG/Tabs/BugAlertsOptionsTab.py
  Assets/Python/BUG/Tabs/BugAutologOptionsTab.py
  Assets/Python/BUG/Tabs/BugCityScreenOptionsTab.py
  Assets/Python/BUG/Tabs/BugConfigTrackerTab.py
  Assets/Python/BUG/Tabs/BugCreditsOptionsTab.py
  Assets/Python/BUG/Tabs/BugGeneralOptionsTab.py
  Assets/Python/BUG/Tabs/BugMapOptionsTab.py
  Assets/Python/BUG/Tabs/BugNJAGCOptionsTab.py
  Assets/Python/BUG/Tabs/BugScoreOptionsTab.py
  Assets/Python/BUG/Tabs/BugSystemOptionsTab.py
  Assets/Python/BUG/Tabs/BugUnitNameOptionsTab.py
  Assets/Python/BUG/Tabs/RevDCMOptionsTab.py
  Assets/Python/BUG/TechPrefs.py
  Assets/Python/Contrib/Civ4lerts.py
  Assets/Python/Contrib/DynamicCivNames.py
  Assets/Python/Contrib/Pedia/PediaCivilization.py
  Assets/Python/Contrib/Pedia/PediaPromotion.py
  Assets/Python/Contrib/Pedia/PediaTech.py
  Assets/Python/Contrib/UnitNameEventManager.py
  Assets/Python/Contrib/autologEventManager.py
  Assets/Python/CvScreenUtils.py
  Assets/Python/DancingHoskuld/BarbarianDiplomacy.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/Python/EntryPoints/PbMain.py
  Assets/Python/Screens/CvDebugInfoScreen.py
  Assets/Python/Screens/CvReligionScreen.py
  Assets/Python/Screens/EventTriggerScreen.py
  Assets/Python/Utilities/DebugUtils.py
  PrivateMaps/C2C_Arboria.py
  PrivateMaps/C2C_Archipelago.py
  PrivateMaps/C2C_Donut.py
  PrivateMaps/C2C_Lakes.py
  PrivateMaps/C2C_PerfectWorld2f.py
Labels: python, tool

#975 switched some getInfoTypeForString calls in python
  Assets/Python/BUG/BugScreen.py
  Assets/Python/Contrib/Civ4lerts.py
  Assets/Python/Contrib/EventSigns.py
  Assets/Python/Contrib/WoodlandCycle.py
  Assets/Python/CvEventManager.py
  Assets/Python/CvMapGeneratorUtil.py
  Assets/Python/DancingHoskuld/InitMilitaryPromos.py
  Assets/Python/DancingHoskuld/Partisan.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/Python/MapScriptTools.py
  Assets/Python/Revolution/RevUtils.py
  Assets/Python/Screens/CvDanQuayle.py
  Assets/Python/Screens/CvDomesticAdvisor.py
  Assets/Python/Screens/CvEspionageAdvisor.py
  Assets/Python/Screens/CvForeignAdvisor.py
  Assets/Python/Screens/CvInfoScreen.py
  Assets/Python/Screens/CvMainInterface.py
  Assets/Python/Screens/CvOptionsScreen.py
  Assets/Python/Screens/CvReligionScreen.py
  Assets/Python/Screens/CvVictoryScreen.py
  Assets/Python/Screens/RevolutionWatchAdvisor.py
  Sources/CyGlobalContext.cpp
  Sources/CyGlobalContext.h
  Sources/CyGlobalContextInterface2.cpp
  Sources/CyGlobalContextInterface3.cpp
  Sources/GlobalDefines.h
Labels: dll, python

#831 enabled python error: useless-else-on-loop
  Assets/Python/Screens/SimpleScreens/GameFontScreen.py
  Tools/Lint/.pylintrc_for_python_2
Labels: python, tool

#836 enabled python error: assert-on-tuple
  Assets/Python/CvUtil.py
  Assets/Python/Revolution/Gameready/Revolution.py
  Assets/Python/Revolution/LeaderCivNames.py
  Assets/Python/Revolution/RebelTypes.py
  Tools/Lint/.pylintrc_for_python_2
Labels: python, tool

#977 fixed getFOOD_CONSUMPTION_PER_POPULATION()
  Sources/GlobalDefines.h
Labels: dll

#980 deleted unused vanilla python file I added CvScreenUtils.py
  Assets/Python/CvScreenUtils.py
Labels: python

#981 deleted GetInfoType python function
  Assets/Python/EntryPoints/CvCultureLinkInterface.py
  Assets/Python/EntryPoints/CvWBInterface.py
  PrivateMaps/C2C_PerfectMongoose_v310.py
  PrivateMaps/C2C_PerfectWorld2f.py
  PrivateMaps/C2C_Totestra.py
Labels: python

#979 deleted unused Bug module TechPrefs.py
  Assets/Python/BUG/TechPrefs.py
Labels: python

#982 added a FAssert
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
Labels: dll

#986 Merge conflict fix
  Assets/Modules/Custom_Religions/Andean/Andean_CIV4ImprovementInfos.xml
  Assets/Modules/My_Mods (unloaded)/Sacred_Sites/SacredSites_CIV4ImprovementInfos.xml
  Assets/Modules/My_Mods (unloaded)/TidalPools/TidalPools_CIV4ImprovementInfos.xml
  Assets/Modules/Natural_Wonders/NaturalWonder_CIV4ImprovementInfos.xml
  Assets/Modules/NotSoGood/AnimalPlacing/AnimalPlacing_CIV4ImprovementInfos.xml
  Assets/Modules/Pepper2000/P2K_CIV4BuildInfos.xml
  Assets/Modules/Pepper2000/P2K_CIV4ImprovementInfos.xml
  Assets/Modules/Pepper2000/P2K_CIV4UnitInfos.xml
  Assets/XML/GameText/Modules/Pepper2000/P2K_CIV4GameText.xml
  Assets/XML/Schema/C2C_CIV4TerrainSchema.xml
  Assets/XML/Terrain/CIV4BonusInfos.xml
  Assets/XML/Terrain/CIV4ImprovementInfos.xml
  Assets/XML/Units/CIV4BuildInfos.xml
  Assets/XML/Units/U_Workers_CIV4UnitInfos.xml
  PrivateMaps/C2C_World_Remixed.py
  Sources/BoolExpr.cpp
  Sources/C2C (VS2019).vcxproj
  Sources/C2C (VS2019).vcxproj.filters
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvCityAI.h
  Sources/CvDLLButtonPopup.cpp
  Sources/CvDLLWidgetData.cpp
  Sources/CvGameInterface.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvGlobals.cpp
  Sources/CvImprovementInfo.cpp
  Sources/CvImprovementInfo.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroupAI.cpp
  Sources/CvStructs.cpp
  Sources/CvStructs.h
  Sources/CvTeam.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyGlobalContextInterface1.cpp
  Sources/CyGlobalContextInterface2.cpp
  Sources/CyInfoInterface2.cpp
Labels: dll, python, xml

#973 CyArea loops
  Assets/Python/CvMapGeneratorUtil.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/Python/MapScriptTools.py
  Assets/Python/Screens/CvDebugInfoScreen.py
  PrivateMaps/C2C_Archipelago.py
  PrivateMaps/C2C_Donut.py
  PrivateMaps/C2C_Islands.py
  PrivateMaps/C2C_Mirror.py
  PrivateMaps/C2C_Pangaea.py
  PrivateMaps/C2C_PerfectMongoose_v310.py
  PrivateMaps/C2C_PerfectWorld2f.py
  PrivateMaps/C2C_Tectonics.py
  PrivateMaps/C2C_World.py
  Sources/CyArea.cpp
  Sources/CyCity.cpp
  Sources/CyMap.cpp
  Sources/CyMap.h
  Sources/CyMapInterface.cpp
  Sources/CyPlot.cpp
Labels: dll, python

#992 fixed python error
  Assets/Python/CvEventManager.py
Labels: python

#993 Revert "deleted GetInfoType function (#981)"
  Assets/Python/EntryPoints/CvCultureLinkInterface.py
  Assets/Python/EntryPoints/CvWBInterface.py
  PrivateMaps/C2C_PerfectMongoose_v310.py
  PrivateMaps/C2C_PerfectWorld2f.py
  PrivateMaps/C2C_Totestra.py
Labels: python

#994 added vanilla python file CvDiplomacyInterface.py
  Assets/Python/EntryPoints/CvDiplomacyInterface.py
Labels: python
