Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2021-01, with the labels that each got.

#804 increased combat of arsonist by 1
  Assets/XML/Units/U_Land_CIV4UnitInfos.xml
Labels: xml

#805 Renaissance tech audio
  Assets/Sounds/Tech/04_Agricultural_Tools.mp3
  Assets/Sounds/Tech/04_Armor_Crafting.mp3
  Assets/Sounds/Tech/05_Battlefield_Medicine.mp3
  Assets/Sounds/Tech/05_Botany.mp3
  Assets/Sounds/Tech/05_Calculus.mp3
  Assets/Sounds/Tech/05_Colonialism.mp3
  Assets/Sounds/Tech/05_Dueling.mp3
  Assets/Sounds/Tech/05_Enlightenment.mp3
  Assets/Sounds/Tech/05_Flintlock.mp3
  Assets/Sounds/Tech/05_Geology.mp3
  Assets/Sounds/Tech/05_Grand_War.mp3
  Assets/Sounds/Tech/05_Heliocentrism.mp3
  Assets/Sounds/Tech/05_Hot_Air_Balloon.mp3
  Assets/Sounds/Tech/05_Humanism.mp3
  Assets/Sounds/Tech/05_Lead_Glass.mp3
  Assets/Sounds/Tech/05_Mercantilism.mp3
  Assets/Sounds/Tech/05_Metallurgy.mp3
  Assets/Sounds/Tech/05_Microbiology.mp3
  Assets/Sounds/Tech/05_Mine_Warfare.mp3
  Assets/Sounds/Tech/05_Navigation.mp3
  Assets/Sounds/Tech/05_Oil_Painting.mp3
  Assets/Sounds/Tech/05_Paleontology.mp3
  Assets/Sounds/Tech/05_Patent_Rights.mp3
  Assets/Sounds/Tech/05_Renaissance_Lifestyle.mp3
  Assets/Sounds/Tech/05_Representative_Democracy.mp3
  Assets/Sounds/Tech/05_Sextant.mp3
  Assets/Sounds/Tech/05_Stock_Brokering.mp3
  Assets/Sounds/Tech/05_Team_Sports.mp3
  Assets/Sounds/Tech/05_Weather_Forecasting.mp3
  Assets/Sounds/Tech/05_Zoology.mp3
  Assets/XML/Audio/Audio2DScripts.xml
  Assets/XML/Audio/AudioDefines.xml
  Assets/XML/Technologies/CIV4TechInfos.xml
  Assets/XML/Text/Tech_CIV4GameText.xml
Labels: audio

#807 CI: Run pylint in Github Actions
  .github/workflows/commit.yml
  Tools/Lint/.pylintrc_for_python_2
  Tools/Lint/.pylintrc_for_python_3
  Tools/Lint/pylint.py
  Tools/Lint/requirements_for_python_2.txt
  Tools/Lint/requirements_for_python_3.txt
  Tools/Lint/setup.sh
Labels: tool

#808 Enable f-string-without-interpolation error
  Tools/Lint/.pylintrc_for_python_3
  Tools/XMLTools/BlazeScripts/OrganizeTechAudios.py
Labels: tool

#815 enabled python error: syntax-error
  Assets/Python/Contrib/TechWindowOld.py
  Tools/Lint/.pylintrc_for_python_2
Labels: tool

#810 enabled unnecessary-semicolon python error
  Assets/Python/Contrib/TechWindow.py
  Assets/Python/Contrib/TechWindowWide.py
  Assets/Python/CvDiplomacy.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/Python/EntryPoints/CvScreensInterface.py
  Assets/Python/PitBoss/PbAdmin.py
  Assets/Python/Screens/CvCorporationScreen.py
  Assets/Python/Screens/CvDanQuayle.py
  Assets/Python/Screens/CvEraMovieScreen.py
  Assets/Python/Screens/CvGFCScreen.py
  Assets/Python/Screens/CvHallOfFameScreen.py
  Assets/Python/Screens/CvMADNukesManager.py
  Assets/Python/Screens/CvReligionScreen.py
  Assets/Python/Screens/CvReplayScreen.py
  Assets/Python/Screens/CvSpaceShipScreen.py
  Assets/Python/Screens/CvVictoryScreen.py
  Assets/Python/Screens/RevolutionWatchAdvisor.py
  Assets/Python/Screens/SimpleScreens/CvAdvancedStartScreen.py
  Assets/Python/Screens/Worldbuilder/WBGameDataScreen.py
  Assets/Python/Screens/Worldbuilder/WorldBuilder.py
  Assets/Python/Utilities/DebugUtils.py
  Assets/Python/pyWB/CvWBDesc.py
  PrivateMaps/C2C_PerfectMongoose_v310.py
  PrivateMaps/C2C_PerfectWorld2f.py
  PrivateMaps/C2C_Planet_Generator_0_68.py
  PrivateMaps/C2C_Tectonics.py
  Tools/Lint/.pylintrc_for_python_2
Labels: python, tool

#820 enabled python error: no-self-argument
  Assets/Python/Contrib/TechWindowOld.py
  Assets/Python/Screens/CvGFCScreen.py
  PrivateMaps/C2C_PerfectMongoose_v310.py
  PrivateMaps/C2C_Tectonics.py
  Tools/Lint/.pylintrc_for_python_2
Labels: python, tool

#822 enabled python error: unnecessary-pass
  Assets/Python/Screens/RevolutionWatchAdvisor.py
  Tools/Lint/.pylintrc_for_python_2
Labels: tool

#835 enabled python error: not-callable
  Assets/Python/BUG/UnitGrouper.py
  PrivateMaps/C2C_Archipelago.py
  PrivateMaps/C2C_Islands.py
  Tools/Lint/.pylintrc_for_python_2
Labels: python, tool

#837 enabled python error: unneeded-not
  Assets/Python/Contrib/EventSigns.py
  Assets/Python/Contrib/UnitNameEventManager.py
  Assets/Python/CvEventManager.py
  Assets/Python/Revolution/Gameready/Revolution.py
  PrivateMaps/C2C_Planet_Generator_0_68.py
  PrivateMaps/C2C_SmartMap.py
  Tools/Lint/.pylintrc_for_python_2
Labels: python, tool

#849 Python unit test
  .github/workflows/commit.yml
  Test/Python3/pytest.ini
  Test/Python3/requirements.txt
  Test/Python3/setup.sh
  Tools/XMLTools/BlazeScripts/Common.py
  Tools/XMLTools/BlazeScripts/OrganizeTechAudios.py
  Tools/XMLTools/BlazeScripts/PrintSortedWorkerBuildList.py
  Tools/XMLTools/BlazeScripts/__init__.py
  Tools/XMLTools/BlazeScripts/test/__init__.py
  Tools/XMLTools/BlazeScripts/test/test_Common.py
Labels: tool

#850 Python 3 Enable no-else-return errors
  Tools/Lint/.pylintrc_for_python_3
  Tools/NifTools/c2c-toaster.py
  Tools/XMLTools/BlazeScripts/OrganizeTechAudios.py
  Tools/XMLTools/BlazeScripts/PrintSortedWorkerBuildList.py
Labels: tool

#851 fixed divide by zero crash
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
Labels: dll

#846 enabled python error: pointless-statement
  Tools/Lint/.pylintrc_for_python_2
Labels: python, tool

#847 enabled python error: bad-super-call
  Assets/Python/Contrib/Pedia/PediaImprovement.py
  Assets/Python/Screens/CvMainInterface.py
  PrivateMaps/C2C_World.py
  Tools/Lint/.pylintrc_for_python_2
Labels: python, tool

#854 CI: Downgrade to Ubuntu 18.04 to avoid get-pip
  .github/workflows/commit.yml
  Tools/Lint/setup.sh
Labels: tool

#855 Python enable simplifiable if statement error
  Tools/Lint/.pylintrc_for_python_3
  Tools/XMLTools/BlazeScripts/OrganizeTechAudios.py
Labels: tool

#857 Python 3 Enable syntax-error error
  Tools/Lint/.pylintrc_for_python_3
  Tools/XMLTools/verify-python-callbacks.py
Labels: tool

#858 Python 3 Enable trailing-whitespace error
  Tools/Autocorrect/Autocorrect.py
  Tools/Autocorrect/googlesp.py
  Tools/Lint/.pylintrc_for_python_3
  Tools/NifTools/c2c-toaster.py
  Tools/XMLTools/BlazeScripts/OrganizeTechAudios.py
Labels: tool

#859 Python 3 Enable unnecessary-pass error
  Tools/Autocorrect/Autocorrect.py
  Tools/Lint/.pylintrc_for_python_3
Labels: tool

#860 Python 3 Enable undefined-variable error
  Tools/Autocorrect/langtool.py
  Tools/Lint/.pylintrc_for_python_3
Labels: tool
