Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2021-02, with the labels that each got.

#861 Python 3 Enable singleton-comparison error
  Tools/Lint/.pylintrc_for_python_3
  Tools/XMLTools/BlazeScripts/OrganizeTechAudios.py
  Tools/XMLTools/BlazeScripts/PrintSortedWorkerBuildList.py
Labels: tool

#862 added plots function for CyMap
  Assets/Python/Contrib/EventSigns.py
  Assets/Python/Contrib/WoodlandCycle.py
  Assets/Python/CvEventManager.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/Python/Platyping/NaturalWonders.py
  Assets/Python/Screens/Worldbuilder/WBInfoScreen.py
  Assets/Python/Screens/Worldbuilder/WBPlotScreen.py
  Assets/Python/Screens/Worldbuilder/WorldBuilder.py
  Sources/CyMap.cpp
  Sources/CyMap.h
  Sources/CyMapInterface.cpp
Labels: dll, python

#863 fixed python error in my last commit.
  Assets/Python/EntryPoints/CvRandomEventInterface.py
Labels: python

#871 const
  Sources/BoolExpr.cpp
  Sources/BoolExpr.h
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGameObject.cpp
  Sources/CvGameObject.h
  Sources/CvGameTextMgr.cpp
  Sources/CvGameTextMgr.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvOutcome.cpp
  Sources/CvOutcomeMission.cpp
  Sources/CvOutcomeMission.h
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlayerAI.h
  Sources/CvProperties.cpp
  Sources/CvPropertyInteraction.cpp
  Sources/CvPropertyInteraction.h
  Sources/CvPropertyPropagator.cpp
  Sources/CvPropertyPropagator.h
  Sources/CvPropertySolver.cpp
  Sources/CvPropertySolver.h
  Sources/CvPropertySource.cpp
  Sources/CvPropertySource.h
  Sources/CvSelectionGroup.h
  Sources/CvSelectionGroupAI.cpp
  Sources/CvSelectionGroupAI.h
  Sources/CvTeam.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
  Sources/IntExpr.cpp
  Sources/IntExpr.h
Labels: dll
