Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2021-04, with the labels that each got.

#911 code to move units to a different map
  Assets/Python/Contrib/ParallelMaps.py
  Assets/XML/Units/CIV4MissionInfos.xml
  Sources/CvEnums.h
  Sources/CvGame.cpp
  Sources/CvGameCoreUtils.cpp
  Sources/CvGlobals.cpp
  Sources/CvInfos.h
  Sources/CvMap.cpp
  Sources/CvMap.h
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlot.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
  Sources/GlobalDefines.h
Labels: dll, python, xml

#912 added bst::noncopyable
  Sources/CvArea.h
  Sources/CvArtFileMgr.h
  Sources/CvContractBroker.h
  Sources/CvDeal.h
  Sources/CvGame.h
  Sources/CvGlobals.h
  Sources/CvInitCore.h
  Sources/CvMapInterfaceBase.h
  Sources/CvPlayer.h
  Sources/CvPlotGroup.h
  Sources/CvSelectionGroup.h
  Sources/CvTeam.h
Labels: dll

#913 Added semicolons
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvMap.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvTeam.cpp
  Sources/CvUnit.cpp
Labels: dll

#915 fixed 3 arrays in CvGameTextMgr::setPlotHelp that are not deleted when in debug mode
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlayerAI.h
  Sources/CvTeamAI.cpp
Labels: dll

#916 deleted BugPath
  Assets/Python/BUG/BugFile.py
  Assets/Python/BUG/BugInit.py
  Assets/Python/BUG/BugOptions.py
  Assets/Python/BUG/BugPath.py
  Assets/Python/Contrib/StatusDump.py
  Assets/Python/Contrib/autolog.py
  Assets/Python/CvConfigParser.py
  Assets/Python/DataStorage/SystemPaths.py
  Assets/Python/Screens/RevolutionWatchAdvisor.py
Labels: python

#917 switched path for modDir in SystemPaths.py
  .gitignore
  Assets/Python/DataStorage/SystemPaths.py
  Sources/CvGameCoreDLL.cpp
  Sources/CvGameCoreDLL.h
  Sources/CyGameCoreUtilsInterface.cpp
  Sources/logging.cpp
Labels: dll, python

#919 switched modDir back
  Assets/Python/DataStorage/SystemPaths.py
Labels: python

#920 switched getInfoTypeForString
  Sources/CvGameInterface.cpp
Labels: dll

#924 added and deleted a file for pylint
  Assets/Python/Screens/CvTechChooser.py
  PrivateMaps/C2C_SmartMap.py
  PrivateMaps/C2C_Totestra.py
  Tools/Lint/.pylintrc_for_python_3
  Tools/Lint/python2_modules.txt
Labels: python, tool

#921 added FAssert(gDLL->getPythonIFace()->isInitialized()) before python calls
  Sources/CvDllPythonEvents.cpp
  Sources/CvPython.h
Labels: dll

#902 Added Afflictions feature macro
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvGameCoreDLL.h
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameCoreUtils.h
  Sources/CvGameObject.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvMessageData.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvSelectionGroup.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
  Sources/CvUnitInfo.cpp
  Sources/CyInfoInterface1.cpp
Labels: dll

#827 enabled python error: used-before-assignment
  Assets/Python/MapScriptTools.py
  Assets/Python/Revolution/Gameready/BarbarianCiv.py
  Tools/Lint/.pylintrc_for_python_2
Labels: python, tool

#951 added back line
  Sources/CyInfoInterface1.cpp
Labels: dll

#949 Promotionline cleanup
  Assets/XML/Text/Promotions/Cultural_Heritage/Cultural_Heritage__Promotion_CIV4GameText.xml
  Assets/XML/Text/Promotions_CIV4GameText.xml
  Assets/XML/Units/CIV4PromotionInfos.xml
  Assets/XML/Units/CIV4PromotionLineInfos.xml
  Assets/XML/Units/U_Cultural_CIV4UnitInfos.xml
Labels: text, xml

#948 deleted static from CvPlot::rect
  Sources/CvCityAI.cpp
  Sources/CvGame.cpp
  Sources/CvGameInterface.cpp
  Sources/CvMap.cpp
  Sources/CvMapInterfaceBase.h
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlayerAI.h
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvSelectionGroup.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CvViewport.cpp
  Sources/CvViewport.h
  Sources/CyMap.cpp
  Sources/CyMap.h
  Sources/CyMapInterface.cpp
Labels: dll

#956 fixed pylint
  Tools/Autocorrect/googlesp.py
Labels: tool

#955 switched an array to a vector
  Assets/Python/BUG/TradeUtil.py
  Assets/Python/Contrib/Pedia/PediaBuilding.py
  Assets/Python/Contrib/Pedia/PediaCorporation.py
  Assets/Python/CvAdvisorUtils.py
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/Python/Screens/CvCorporationScreen.py
  Assets/Python/Screens/CvDomesticAdvisor.py
  Assets/Python/Screens/RevolutionWatchAdvisor.py
  Assets/XML/GlobalDefines.xml
  Sources/CvCity.cpp
  Sources/CvDLLWidgetData.cpp
  Sources/CvGame.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPython.h
  Sources/CvUnit.cpp
  Sources/CyGlobalContext.h
  Sources/CyGlobalContextInterface2.cpp
  Sources/CyInfoInterface3.cpp
  Sources/GlobalDefines.h
Labels: dll, python, xml

#957 CitiesKnowTheirPlotYieldFromOtherYields
  Assets/Modules/Bad_Karma/War_Of_The_Worlds/AlienPlants_CIV4FeatureInfos.xml
  Assets/Python/Contrib/Pedia/PediaFeature.py
  Assets/Python/Contrib/Pedia/PediaImprovement.py
  Assets/Python/Screens/CvDomesticAdvisor.py
  Assets/Python/Screens/RevolutionWatchAdvisor.py
  Assets/Python/Screens/Worldbuilder/WBCityEditScreen.py
  Assets/XML/Schema/C2C_CIV4TerrainSchema.xml
  Assets/XML/Terrain/CIV4TerrainInfos.xml
  Assets/XML/Terrain/CIV4YieldInfos.xml
  Assets/XML/Text/CIV4GameTextInfos_C2C.xml
  Assets/XML/Text/Global_CIV4GameText.xml
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvDLLWidgetData.cpp
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvTeam.cpp
  Sources/CyCity.cpp
  Sources/CyCity.h
  Sources/CyCityInterface1.cpp
  Sources/CyInfoInterface2.cpp
  Sources/CyInfoInterface3.cpp
Labels: dll, python, text, xml

#959 added macros to expose cached global defines to python
  Sources/CyGlobalContext.h
  Sources/CyGlobalContextInterface2.cpp
  Sources/GlobalDefines.h
Labels: dll

#962 Misc ai improvements
  Assets/XML/Units/U_Land_CIV4UnitInfos.xml
  PrivateMaps/C2C_World_Remixed.py
  Sources/BetterBTSAI.cpp
  Sources/BetterBTSAI.h
  Sources/CvCityAI.cpp
  Sources/CvCityAI.h
  Sources/CvPlayerAI.cpp
  Sources/CvProperties.h
  Sources/CvStructs.cpp
  Sources/CvStructs.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
  Sources/logging.cpp
Labels: AI, dll, xml

#963 pylint
  Tools/Lint/pylint.py
  Tools/Lint/python2_modules.txt
Labels: python, tool

#967 Added Game Option tab to BUG options screen
  Assets/Python/BUG/BugOptionsScreen.py
  Assets/Python/BUG/Tabs/GameOptionsTab.py
  Assets/Python/EntryPoints/BUG_OptionsCB_IF.py
  Assets/XML/GameInfo/CIV4GameOptionInfos.xml
  Assets/XML/Schema/C2C_CIV4GameInfoSchema.xml
  Assets/XML/Schema/Caveman2Cosmos.xsd
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CyInfoInterface4.cpp
Labels: dll, python, xml

#968 added a line I forgot
  Assets/Python/BUG/Tabs/GameOptionsTab.py
Labels: python
