Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2021-12, with the labels that each got.

#1221 Add semicolon
  Sources/CvArea.cpp
  Sources/CvBuildLists.cpp
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingList.cpp
  Sources/CvBuildingSort.cpp
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvContractBroker.cpp
  Sources/CvFractal.cpp
  Sources/CvGame.cpp
  Sources/CvGameCoreUtils.cpp
  Sources/CvGlobals.cpp
  Sources/CvImprovementInfo.cpp
  Sources/CvInfos.cpp
  Sources/CvMap.cpp
  Sources/CvMapExternal.cpp
  Sources/CvOutcome.cpp
  Sources/CvOutcomeList.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlayerAI.h
  Sources/CvPlot.cpp
  Sources/CvPlotGroup.cpp
  Sources/CvProperties.cpp
  Sources/CvPropertyManipulators.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvStatistics.cpp
  Sources/CvStructs.cpp
  Sources/CvTeam.cpp
  Sources/CvTeamAI.cpp
  Sources/CvTeamAI.h
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CvUnitComponents.cpp
  Sources/CvUnitFilters.cpp
  Sources/CvUnitGrouping.cpp
  Sources/CvUnitInfo.cpp
  Sources/CvUnitList.cpp
  Sources/CvUnitSort.cpp
  Sources/CvViewport.h
  Sources/CvXMLLoadUtilitySetMod.cpp
  Sources/CyTeam.cpp
  Sources/FAssert.h
  Sources/FFreeListTrashArray.h
Labels: dll

#1222 feat(Language): German translations
  Assets/XML/GameText/Animals_CIV4GameText.xml
  Assets/XML/GameText/Bonus_CIV4GameText.xml
  Assets/XML/GameText/CIV4GameTextInfos_C2C.xml
Labels: xml

#1224 deleted BULL version
  Sources/CvDLLWidgetData.cpp
  Sources/CvGlobals.h
  Sources/CvInitCore.cpp
Labels: dll

#1035 added const to a couple DllExport functions
  Sources/CvGame.h
  Sources/CvGameCoreDLL.def
  Sources/CvGameInterface.cpp
  Sources/CvPlayerAI.h
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroup.h
  Sources/CvTeamAI.cpp
  Sources/CvTeamAI.h
  Sources/CvXMLLoadUtilitySet.cpp
Labels: dll

#1225 cleaned-up compiler warning 4127: conditional expression is constant
  Sources/CvArtFileMgr.cpp
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvDLLButtonPopup.cpp
  Sources/CvDeal.cpp
  Sources/CvGame.cpp
  Sources/CvGameCoreDLL.h
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameInterface.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvPathGenerator.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPython.h
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroupAI.cpp
  Sources/CvTalkingHeadMessage.cpp
  Sources/CvTeam.cpp
  Sources/CvTeam.h
  Sources/CvTeamAI.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyCity.cpp
  Sources/CyCity.h
  Sources/CyIterator.h
  Sources/CyPlot.cpp
  Sources/FVariableSystem.inl
  Sources/flatten_range.h
Labels: dll

#1226 added a couple more algo functions from boost
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingList.cpp
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvContractBroker.cpp
  Sources/CvGame.cpp
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameCoreUtils.h
  Sources/CvGameTextMgr.cpp
  Sources/CvImprovementInfo.cpp
  Sources/CvInfoUtil.h
  Sources/CvInfos.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroupAI.cpp
  Sources/CvTeam.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CvUnitComponents.cpp
  Sources/CvUnitFilters.cpp
  Sources/CvUnitInfo.cpp
  Sources/CvUnitList.cpp
  Sources/CvXMLLoadUtility.h
  Sources/CyIterator.h
  Sources/Win32.cpp
  Sources/algorithm2.h
Labels: dll

#1229 moved 2 boost python includes back to where they were before recent commit
  Sources/CvGameCoreDLL.h
  Sources/CyIterator.h
Labels: dll

#1230 moved 4 more boost includes back to where they were before
  Sources/CvGameCoreDLL.h
  Sources/CvPython.h
  Sources/flatten_range.h
Labels: dll

#1231 Several spelling corrections in Great People text
  Assets/XML/GameText/CIV4GameTextInfos_GreatPeople.xml
Labels: xml

#1232 Rework best plot build again
  Sources/CvCityAI.cpp
Labels: dll

#1234 Used CvImprovementInfo build types cache in a couple more spots
  Sources/CvGameTextMgr.cpp
  Sources/CvInfos.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlot.cpp
Labels: dll

#1235 added code to create CvImprovementInfo build types cache
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCityAI.cpp
  Sources/CvGlobals.cpp
  Sources/CvImprovementInfo.cpp
  Sources/CvImprovementInfo.h
  Sources/CvInfos.h
Labels: dll

#1236 added default AI yield weight values to c2c ini file
  Caveman2Cosmos.ini
  Sources/CvGlobals.cpp
  Sources/OutputRatios.cpp
  Sources/OutputRatios.h
Labels: dll

#1238 switched LPCTSTR to const char* (same thing)
  Sources/CvDLLIniParserIFaceBase.h
  Sources/CvDLLInterfaceIFaceBase.h
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameCoreUtils.h
  Sources/CvInfos.cpp
  Sources/CvTalkingHeadMessage.cpp
  Sources/CvTalkingHeadMessage.h
Labels: dll

#1241 added try/catch around python::stop_iteration_error()
  Sources/CyIterator.h
Labels: dll

#1242 revert previous commit
  Sources/CyIterator.h
Labels: dll

#1243 moved CvUnitSelectionCriteria class to separate file
  Sources/C2C (VS2019).vcxproj
  Sources/C2C (VS2019).vcxproj.filters
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvCityAI.h
  Sources/CvContractBroker.cpp
  Sources/CvContractBroker.h
  Sources/CvDLLButtonPopup.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CvUnitSelectionCriteria.cpp
  Sources/CvUnitSelectionCriteria.h
Labels: dll

#1244 switched OutputRatios default weights from ini file to global defines xml
  Assets/XML/GlobalDefines.xml
  Caveman2Cosmos.ini
  Sources/CvCityAI.cpp
  Sources/CvGlobals.cpp
  Sources/GlobalDefines.h
  Sources/OutputRatios.cpp
  Sources/OutputRatios.h
Labels: xml, dll

#1246 deleted CvGame::PlotExtraCosts
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvGameCoreUtils.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvStructs.cpp
  Sources/CvStructs.h
  Sources/CyGame.cpp
  Sources/CyGame.h
  Sources/CyGameInterface.cpp
Labels: dll

#1247 switched deal loops to foreach_
  Sources/CvCityAI.cpp
  Sources/CvCityAI.h
  Sources/CvDeal.cpp
  Sources/CvDeal.h
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvGameCoreDLL.h
  Sources/CvGameTextMgr.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroup.h
  Sources/CvTeam.cpp
  Sources/CvUnit.cpp
  Sources/FFreeListTrashArray.h
  Sources/LinkedList.h
Labels: dll

#1248 switched a couple int to enum
  Sources/CvCityAI.cpp
  Sources/CvDLLPython.cpp
  Sources/CvDLLWidgetData.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvGameTextMgr.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
Labels: dll

#1249 deleted a couple REVOLUTIONDCM_MOD comments
  Sources/CvPlayerAI.cpp
Labels: dll

#1250 switched include "Python.h" to <boost/python/detail/wrap_python.hpp>
  Sources/CvGameCoreDLL.h
Labels: dll

#1251 switched cargo unit loops to foreach_
  Sources/BoolExpr.cpp
  Sources/CvBugOptions.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
Labels: dll

#1252 added a fake foreach_ definition for intellisense
  Sources/CvDllPythonEvents.cpp
  Sources/CvGameCoreDLL.h
Labels: dll

#1253 commented out #ifndef __INTELLISENSE__ from around boost::python
  Sources/BoolExpr.cpp
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvGame.h
  Sources/CvGameCoreDLL.h
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameCoreUtils.h
  Sources/CvGameInterface.cpp
  Sources/CvGameObject.cpp
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvImprovementInfo.h
  Sources/CvInfoWater.cpp
  Sources/CvInfoWater.h
  Sources/CvMap.cpp
  Sources/CvPlotGroup.cpp
  Sources/CvPopupInfo.cpp
  Sources/CvTeam.cpp
  Sources/GroupingParams.h
Labels: dll

#1254 deleted unused getArtInfo func from CyGlobalContext
  Sources/CyGlobalContext.cpp
  Sources/CyGlobalContext.h
  Sources/CyGlobalContextInterface4.cpp
Labels: dll

#1256 added more includes
  Sources/CvArea.cpp
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvContractBroker.cpp
  Sources/CvDLLButtonPopup.cpp
  Sources/CvDLLEngineIFaceBase.h
  Sources/CvDLLEntity.cpp
  Sources/CvDLLPlotBuilderIFaceBase.h
  Sources/CvDLLPythonIFaceBase.h
  Sources/CvDLLSymbolIFaceBase.h
  Sources/CvDLLWidgetData.cpp
  Sources/CvDllPythonEvents.cpp
  Sources/CvGame.cpp
  Sources/CvGameAI.cpp
  Sources/CvGameCoreDLL.h
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameInterface.cpp
  Sources/CvGameObject.cpp
  Sources/CvGameObject.h
  Sources/CvGameTextMgr.cpp
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvImprovementInfo.cpp
  Sources/CvInfoReplacements.h
  Sources/CvInitCore.cpp
  Sources/CvMap.cpp
  Sources/CvMap.h
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvReplayInfo.cpp
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroup.h
  Sources/CvTaggedSaveFormatWrapper.h
  Sources/CvTeam.cpp
  Sources/CvTeam.h
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitComponents.cpp
  Sources/CvUnitSort.cpp
  Sources/CvValueService.cpp
  Sources/CvValueService.h
  Sources/CvViewport.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CvXMLLoadUtilitySetMod.cpp
  Sources/CyGame.cpp
  Sources/CyPlayer.cpp
  Sources/FProfiler.h
Labels: dll
