Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2022-01, with the labels that each got.

#1257 Deleted parameters that are not used
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvCityAI.h
  Sources/CvDLLButtonPopup.cpp
  Sources/CvDLLEntityIFaceBase.h
  Sources/CvDLLWidgetData.cpp
  Sources/CvDeal.cpp
  Sources/CvDeal.h
  Sources/CvEventReporter.cpp
  Sources/CvGameCoreDLL.cpp
  Sources/CvGameCoreDLL.h
  Sources/CvGameInterface.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvGameTextMgr.h
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvInfoUtil.h
  Sources/CvMap.cpp
  Sources/CvMap.h
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvPlayerAI.cpp
  Sources/CvPlayerAI.h
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvSelectionGroup.cpp
  Sources/CvSelectionGroup.h
  Sources/CvSelectionGroupAI.cpp
  Sources/CvSelectionGroupAI.h
  Sources/CvStatistics.cpp
  Sources/CvStatistics.h
  Sources/CvTeam.cpp
  Sources/CvTeam.h
  Sources/CvUnit.cpp
  Sources/CvUnit.h
  Sources/CvUnitAI.cpp
  Sources/CvUnitAI.h
  Sources/CvViewport.cpp
  Sources/CvViewport.h
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyDeal.cpp
  Sources/CyMap.cpp
  Sources/CyUnit.cpp
Labels: dll

#1258 Added define SKIP_CITY_HOME_PLOT = 1
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvDefines.h
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
Labels: dll

#1259 used adjactent plot iterator in a couple more spots
  Sources/CvCity.cpp
  Sources/CvMapGenerator.cpp
  Sources/CvPlot.cpp
  Sources/CvReachablePlotSet.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
Labels: dll

#1260 added cardinal direction plot iterator function
  Sources/CvMap.cpp
  Sources/CvMap.h
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPlot.h
Labels: dll

#1261 feat(Language): German translations and corrections
  Assets/XML/GameText/Animals_CIV4GameText.xml
  Assets/XML/GameText/BuildingHelp_CIV4GameText.xml
  Assets/XML/GameText/Events_CIV4GameText.xml
  Assets/XML/GameText/Global_CIV4GameText.xml
  Assets/XML/GameText/GroupTitle_CIV4GameText.xml
  Assets/XML/GameText/HelpText_CIV4GameText.xml
  Assets/XML/GameText/UnitHelp_CIV4GameText.xml
  Assets/XML/GameText/Units_CIV4GameText.xml
  Assets/XML/GameText/Words_CIV4GameText.xml
Labels: xml

#1265 deleted extra missing art checks.
  Sources/CvBuildingInfo.cpp
  Sources/CvImprovementInfo.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
Labels: dll

#1266 deleted pointless variable - CvMapExternal::m_bMapCoordinates
  Sources/CvGlobals.cpp
  Sources/CvMapExternal.cpp
  Sources/CvMapExternal.h
Labels: dll

#1267 reverted the type casting I added inside FASSERT_BOUNDS
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingList.cpp
  Sources/CvCity.cpp
  Sources/CvInfos.cpp
  Sources/CvMap.cpp
  Sources/CvUnitList.cpp
  Sources/FAssert.h
Labels: dll

#1268 switched some vector loops to foreach_
  Sources/CvCity.cpp
  Sources/CvContractBroker.cpp
  Sources/CvGame.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvReplayInfo.cpp
  Sources/CvStatistics.cpp
  Sources/CvStructs.cpp
  Sources/CvTeam.cpp
Labels: dll

#875 deleted CvXMLLoadUtility::RemoveTGAFiller
  Sources/CvInitCore.cpp
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilitySet.cpp
Labels: dll

#1262 Simplified ::canBuild(, got rid of bCanRemoveWithNoProductionGain tag from featureStructs
  Assets/Modules/Cultures/Cultures_CIV4BuildInfos.xml
  Assets/Modules/zWIP/Sacred_Sites/SacredSites_CIV4BuildInfos.xml
  Assets/XML/Schema/C2C_CIV4UnitSchema.xml
  Assets/XML/Units/CIV4BuildInfos.xml
  Sources/CvCityAI.cpp
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvPlayer.cpp
  Sources/CvPlayer.h
  Sources/CvSelectionGroup.cpp
  Sources/CvUnit.cpp
  Sources/CvXMLLoadUtility.h
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyPlayer.cpp
  Sources/CyPlayer.h
  Sources/CyPlayerInterface1.cpp
  Sources/CyUnit.cpp
  Sources/CyUnit.h
  Sources/CyUnitInterface1.cpp
Labels: xml, dll

#1269 added boost::noncopyable to the info classes
  Assets/Python/Screens/CvOptionsScreen.py
  Sources/CvArea.h
  Sources/CvArtFileMgr.h
  Sources/CvBuildingInfo.h
  Sources/CvCity.h
  Sources/CvDeal.h
  Sources/CvGame.h
  Sources/CvGameCoreDLL.def
  Sources/CvGlobals.h
  Sources/CvImprovementInfo.h
  Sources/CvInfoUtil.h
  Sources/CvInfoWater.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvInitCore.h
  Sources/CvMapInterfaceBase.h
  Sources/CvPlayer.h
  Sources/CvPlot.h
  Sources/CvPlotGroup.h
  Sources/CvProperties.cpp
  Sources/CvSelectionGroup.h
  Sources/CvStructs.cpp
  Sources/CvTeam.h
  Sources/CvUnitInfo.cpp
  Sources/CyInfoInterface1.cpp
  Sources/CyInfoInterface2.cpp
  Sources/CyInfoInterface3.cpp
  Sources/CyInfoInterface4.cpp
Labels: python, dll

#1270 switched CvOutcomeMission loops to foreach
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvOutcomeList.cpp
  Sources/CvOutcomeList.h
  Sources/CvOutcomeMission.cpp
  Sources/CvOutcomeMission.h
  Sources/CvPlayerAI.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
  Sources/CvUnitInfo.cpp
Labels: dll

#1272 added info vectors loop inside cvInternalGlobals::deleteInfoArrays()
  Sources/CvGlobals.cpp
Labels: dll

#1273 added doPostLoadCaching() method and CvInfoUtil to a couple info classes
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvImprovementInfo.cpp
  Sources/CvImprovementInfo.h
  Sources/CvInfoUtil.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvUnitInfo.cpp
Labels: dll

#1279 modified the shrine buildings cache
  Sources/CvBuildingInfo.cpp
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvGlobals.cpp
  Sources/CvInfos.h
  Sources/CyGame.cpp
Labels: dll

#1278 disabled pylint syntax-error
  Tools/Lint/.pylintrc_for_python_2
Labels: tool

#1280 switched a unit loop to foreach_
  Sources/CvSelectionGroup.cpp
Labels: dll

#1283 deleted some unused code I added that never worked
  Sources/CvInfoUtil.h
Labels: dll

#1284 delayed resolution code for IDValueMaps with array values
  Sources/CvGlobals.h
  Sources/CvInfoUtil.h
  Sources/CvXMLLoadUtility.h
  Sources/IDValueMap.h
Labels: dll

#1285 switched CvBuildingInfo::GlobalBuildingCommerceChange to IDValueMap
  Assets/Modules/Pepper2000/Pepper2000Cislunar_CIV4BuildingInfos.xml
  Assets/Modules/Pepper2000/Pepper2000Cosmic_CIV4BuildingInfos.xml
  Assets/Modules/Pepper2000/Pepper2000Distant_CIV4BuildingInfos.xml
  Assets/Modules/Pepper2000/Pepper2000Earth_CIV4BuildingInfos.xml
  Assets/Modules/Pepper2000/Pepper2000Galactic_CIV4BuildingInfos.xml
  Assets/Modules/Pepper2000/Pepper2000Hyperspace_CIV4BuildingInfos.xml
  Assets/Modules/Pepper2000/Pepper2000Mars_CIV4BuildingInfos.xml
  Assets/Modules/Pepper2000/Pepper2000Solar_CIV4BuildingInfos.xml
  Assets/Modules/Pepper2000/Pepper2000SpaceMods_CIV4BuildingInfos.xml
  Assets/Modules/Pepper2000/Pepper2000Venus_CIV4BuildingInfos.xml
  Assets/XML/Buildings/GreatWonders_CIV4BuildingInfos.xml
  Assets/XML/Buildings/NationalWonders_CIV4BuildingInfos.xml
  Assets/XML/Buildings/zEarthBuildings_CIV4BuildingInfos.xml
  Assets/XML/Schema/C2C_CIV4BuildingsSchema.xml
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvInfoUtil.h
  Sources/CvStructs.h
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/IDValueMap.h
Labels: xml, dll

#1286 deleted global defines schema
  Assets/XML/CIV4GlobalDefinesSchema.xml
Labels: invalid, xml

#1288 fixed profiler build compiler errors
  Sources/CvGameCoreDLL.cpp
  Sources/CvTeamAI.cpp
Labels: dll

#1289 Added bHideAssert parameter to CyGlobalContext::getInfoTypeForString
  Assets/Python/EntryPoints/CvCultureLinkInterface.py
  Sources/CvGameCoreDLL.h
  Sources/CyGlobalContext.cpp
  Sources/CyGlobalContext.h
  Sources/CyGlobalContextInterface4.cpp
  Sources/CyRandomInterface.cpp
Labels: python, dll

#1290 added enum_iterator from billw branch
  Sources/C2C (VS2019).vcxproj
  Sources/C2C (VS2019).vcxproj.filters
  Sources/CvEnums.h
  Sources/CvGameCoreDLL.h
  Sources/enum_iterator.h
Labels: dll

#1291 added enums for the art infos
  Sources/CvEnums.h
  Sources/CvInfoClassTraits.h
Labels: dll

#1293 merged CvBuildingInfo free bonus tags
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/Python/Screens/Debug/TestCode.py
  Assets/Python/Screens/Pedia/PediaBonus.py
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvGameTextMgr.cpp
  Sources/CyGame.cpp
  Sources/CyGame.h
  Sources/CyGameInterface.cpp
  Sources/CyInfoInterface1.cpp
  Sources/IDValueMap.h
Labels: python, dll

#1295 deleted unused struct
  Sources/CvBuildingInfo.cpp
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvStructs.h
  Sources/IDValueMap.h
Labels: dll

#1296 deleted unused CvWorldInfo tag iNumFreeBuildingBonuses
  Sources/CvInfos.cpp
  Sources/CvInfos.h
Labels: dll

#1168 deleted free promotion tags
  Assets/XML/Schema/C2C_CIV4BuildingsSchema.xml
  Sources/CvBuildingFilters.cpp
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CyInfoInterface1.cpp
Labels: xml, dll

#1264 deleted the unused Makefile files
  Sources/Makefile
  Sources/Makefile.original
Labels: invalid, dll, build

#1302 deleted NUM_GAMEOPTION_TYPES
  Sources/CvEnums.h
  Sources/CvGame.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvGlobals.cpp
  Sources/CvInitCore.cpp
  Sources/CvReplayInfo.cpp
  Sources/CvStructs.cpp
Labels: dll

#1303 re-add art info enums part 1
  Sources/CvEnums.h
Labels: dll

#1304 added stuff to pull request labeler and updated Python.pyproj
  .github/labeler.yml
  Assets/Python/Python.pyproj
Labels: python

#1307 An attempt to improve shuffle performance
  Sources/CyGameCoreUtils.cpp
  Sources/CyGameCoreUtils.h
Labels: dll

#1309 write info class enums with macro
  Sources/CvEnums.h
  Sources/CvInfoClassTraits.h
Labels: dll

#1312 Revert "Restored a missing DllExport in CvTeamAI"
  Sources/CvGameCoreDLL.def
  Sources/CvTeamAI.cpp
  Sources/CvTeamAI.h
Labels: dll

#1313 added const to CvGame::cyclePlotUnits
  Sources/CvGame.h
  Sources/CvGameCoreDLL.def
  Sources/CvGameInterface.cpp
Labels: dll

#1316 art info enums 3
  Sources/CvInfoClassTraits.h
Labels: dll

#1317 Art info enums 4
  Sources/CvInfoClassTraits.h
Labels: dll

#1319 added delayed resolution check to CvInfoUtil
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvGlobals.cpp
  Sources/CvGlobals.h
  Sources/CvImprovementInfo.h
  Sources/CvInfoUtil.h
  Sources/CvInfos.cpp
  Sources/CvInfos.h
Labels: dll

#1320 re-added buggy debug code and fixed it
  Sources/CvGlobals.cpp
  Sources/CvInfoUtil.h
Labels: dll

#1322 exposed getOppositeDirection to python
  Assets/Python/MapScriptTools.py
  PrivateMaps/C2C_PerfectMongoose_v310.py
  PrivateMaps/C2C_PerfectWorld2f.py
  PrivateMaps/C2C_Totestra.py
  PrivateMaps/C2C_World.py
  PrivateMaps/C2C_World_Remixed.py
  Sources/CvDLLPython.cpp
  Sources/CyGameCoreUtilsInterface.cpp
Labels: python, dll

#1323 fixed python map script error
  PrivateMaps/C2C_Totestra.py
Labels: bug, python

#1324 deleted some unused global defines I recently added
  Assets/XML/GlobalDefines.xml
  Sources/GlobalDefines.h
Labels: xml, dll

#1325 switched 2 loops in the python volcano event
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Sources/CyPlot.cpp
  Sources/CyPlot.h
  Sources/CyPlotInterface1.cpp
Labels: python, dll

#1326 commented out some unused stuff in CvDefines.h
  Sources/CvDefines.h
Labels: dll

#1300 Merge of animals XML GameText
  Assets/XML/Buildings/zAnimals_CIV4BuildingInfos.xml
  Assets/XML/GameText/Animals_CIV4GameText.xml
  Assets/XML/GameText/Beastmaster_CIV4GameText.xml
  Assets/XML/GameText/Bonus_CIV4GameText.xml
  Assets/XML/GameText/Buildings_Animals_CIV4GameText.xml
  Assets/XML/GameText/Buildings_Culture_CIV4GameText.xml
  Assets/XML/GameText/Captives_CIV4GameText.xml
  Assets/XML/GameText/Combat_CIV4GameText.xml
  Assets/XML/GameText/Great_Hunter_CIV4GameText.xml
  Assets/XML/GameText/Human_Sacrifice_CIV4GameText.xml
  Assets/XML/GameText/PitBoss_CIV4GameText.xml
  Assets/XML/GameText/Slavery_CIV4GameText.xml
  Assets/XML/GameText/Subdue_Animals_Buildings_CIV4GameText.xml
  Assets/XML/GameText/Subdue_Animals_Combat_CIV4GameText.xml
  Assets/XML/GameText/Subdue_Animals_Concept_CIV4GameText.xml
  Assets/XML/GameText/Subdue_Animals_Pedia_CIV4GameText.xml
  Assets/XML/GameText/Subdue_Animals_Promotion_CIV4GameText.xml
  Assets/XML/GameText/Subdue_Animals_Unit_CIV4GameText.xml
  Assets/XML/GameText/Subdue_Animals_Unsorted_CIV4GameText.xml
Labels: xml, dll, text
