Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2023-02, with the labels that each got.

#1424 City culture plot cache
  Assets/XML/A_New_Dawn_GlobalDefines.xml
  Assets/XML/GameText/Global_CIV4GameText.xml
  Assets/XML/Technologies/CIV4TechInfos.xml
  Assets/XML/Terrain/CIV4FeatureInfos.xml
  Assets/XML/Terrain/CIV4ImprovementInfos.xml
  Assets/XML/Terrain/CIV4TerrainInfos.xml
  Sources/CvCity.cpp
  Sources/CvCityAI.cpp
  Sources/CvDLLWidgetData.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvPlayerAI.cpp
  Sources/CvPlot.cpp
  Sources/CvPlot.h
  Sources/CvUnitAI.cpp
Labels: xml, dll, text

#1432 Pedia concept reorg
  Assets/Modules/Cultures/Cultures_Cultural_CIV4UnitInfos.xml
  Assets/XML/BasicInfos/CIV4NewConceptInfos.xml
  Assets/XML/GameText/BUG_CIV4GameText.xml
  Assets/XML/GameText/Captives_Concept_CIV4GameText.xml
  Assets/XML/GameText/Concept_Housing_CIV4GameTextInfos.xml
  Assets/XML/GameText/Concepts_CIV4GameText.xml
  Assets/XML/GameText/Global_CIV4GameText.xml
  Assets/XML/GameText/Platyping_CIV4GameText.xml
  Assets/XML/GameText/Subdue_Animals_Concept_CIV4GameText.xml
  Assets/XML/Units/U_Land_CIV4UnitInfos.xml
  Sources/CvDeal.cpp
  Sources/CvPlayer.cpp
  Sources/CvPlayerAI.cpp
Labels: xml, dll, text

#1434 added code for MapTypes saved game compatibility
  Sources/CvTaggedSaveFormatWrapper.cpp
  Sources/CvTaggedSaveFormatWrapper.h
Labels: dll

#1433 Delete ongoing training
  Sources/CvBuildingFilters.cpp
  Sources/CvBuildingInfo.cpp
  Sources/CvBuildingInfo.h
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvCityAI.cpp
  Sources/CvGameTextMgr.cpp
  Sources/CvUnit.cpp
  Sources/CvUnit.h
Labels: dll, savebreaking

#1420 functions to save/load long long
  Sources/CvPlayer.cpp
  Sources/CvTaggedSaveFormatWrapper.cpp
  Sources/CvTaggedSaveFormatWrapper.h
Labels: dll, savebreaking
