Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2024-06, with the labels that each got.

#1507 WIP parallel maps screen
  Assets/Python/EntryPoints/CvAppInterface.py
  Assets/Python/EntryPoints/CvScreensInterface.py
  Assets/Python/Screens/Advisors/ParallelMapsScreen.py
  Assets/Python/Screens/CvMainInterface.py
  Assets/Python/Screens/CvScreenEnums.py
  Assets/XML/GameInfo/CIV4MapInfo.xml
  Assets/XML/Schema/C2C_CIV4GameInfoSchema.xml
  Assets/XML/Schema/Caveman2Cosmos.xsd
  Sources/CvMap.cpp
  Sources/CvPythonGlobalContextLoader.cpp
  Sources/CyGlobalContext.cpp
  Sources/CyGlobalContext.h
  Sources/CyMap.cpp
  Sources/CyMap.h
  Sources/CyMapInterface.cpp
Labels: xml, python, dll

#1509 Fixed population overflow
  Sources/CvCity.cpp
  Sources/CvCity.h
  Sources/CvPlayer.cpp
Labels: dll

#1508 switched base class for MapInfo to HotKeyInfo
  Assets/Config/init.xml
  Assets/Python/Contrib/ParallelMaps.py
  Assets/Python/Contrib/ParallelMapsInput.py
  Assets/Python/Screens/Advisors/ParallelMapsScreen.py
  Assets/XML/GameInfo/CIV4MapInfo.xml
  Assets/XML/GameText/HUD_Help_CIV4GameText.xml
  Assets/XML/Schema/Caveman2Cosmos.xsd
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CyInfoInterface1.cpp
  Sources/CyInfoInterface3.cpp
Labels: xml, python, dll, text

#1513 Prehistoric age unit construction bonuses according to available reso…
  Assets/XML/Units/U_Land_CIV4UnitInfos.xml
Labels: xml

#1511 Total event rework.
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/XML/Events/CIV4EventInfos.xml
  Assets/XML/Events/CIV4EventTriggerInfos.xml
  Assets/XML/GameText/Events_CIV4GameText.xml
Labels: xml, python, text

#1515 Complex trait update
  Assets/Modules/Thunderbrd/Traits/C2C_TB_CIV4TraitInfos.xml
Labels: xml

#1519 bugfix for add_one_population event
  Assets/XML/Events/CIV4EventTriggerInfos.xml
Labels: xml

#1520 Full revert to the event rewor
  Assets/XML/Events/CIV4EventInfos.xml
  Assets/XML/Events/CIV4EventTriggerInfos.xml
Labels: xml

#1521 Moved wood gatherer to simple wood working
  Assets/XML/Terrain/CIV4ImprovementInfos.xml
  Assets/XML/Units/CIV4BuildInfos.xml
Labels: xml
