Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2024-05, with the labels that each got.

#1500 Fixed minimap bug when switching map
  Assets/Python/Contrib/ParallelMaps.py
  Assets/Python/EntryPoints/CvScreensInterface.py
  Sources/CvMap.cpp
  Sources/CvViewport.cpp
  Sources/CvViewport.h
Labels: python, dll

#1501 added bStartRevealed tag to CvMapInfo
  Assets/XML/GameInfo/CIV4MapInfo.xml
  Assets/XML/Schema/C2C_CIV4GameInfoSchema.xml
  Assets/XML/Schema/Caveman2Cosmos.xsd
  Sources/CvInfos.cpp
  Sources/CvInfos.h
  Sources/CvMap.cpp
Labels: xml, dll

#1502 Polish translation
  Assets/XML/GameText/Bonus_CIV4GameText.xml
Labels: xml, text

#1506 Buttons for half of the switch map missions
  Assets/XML/Units/CIV4MissionInfos.xml
  UnpackedArt/art/interface/buttons/missions/inner_solar_system.dds
  UnpackedArt/art/interface/buttons/missions/kuiper_belt.dds
  UnpackedArt/art/interface/buttons/missions/mars.dds
  UnpackedArt/art/interface/buttons/missions/milky_way.dds
  UnpackedArt/art/interface/buttons/missions/moon.dds
  UnpackedArt/art/interface/buttons/missions/outer_solar_system.dds
  UnpackedArt/art/interface/buttons/missions/titan.dds
  UnpackedArt/art/interface/buttons/missions/venus.dds
Labels: xml, art
