Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2024-09, with the labels that each got.

#1567 Rewrite description for Azod od-Dowleh
  Assets/XML/GameText/CIV4GameTextInfos_GreatPeople.xml
Labels: xml, text

#1568 bugfix-patch
  Assets/Modules/Alt_Timelines/Megafauna/Megafauna_CIV4BuildingInfos.xml
  Assets/XML/Events/CIV4EventInfos.xml
  Assets/XML/Events/CIV4EventTriggerInfos.xml
  Assets/XML/GameText/Events_CIV4GameText.xml
Labels: xml, text

#1575 More typos for you
  Assets/XML/GameText/CIV4GameTextInfos_GreatPeople.xml
  Assets/XML/GameText/Events_CIV4GameText.xml
Labels: xml, text

#1580 Russian localization update
  Assets/XML/GameText/CIV4GameTextInfos_C2C.xml
  Assets/XML/GameText/CIV4GameTextInfos_Cities.xml
  Assets/XML/GameText/Combat_CIV4GameText.xml
  Assets/XML/GameText/Global_CIV4GameText.xml
  Assets/XML/GameText/HelpText_CIV4GameText.xml
  Assets/XML/GameText/NamesCivs_CIV4GameText.xml
  Assets/XML/GameText/NamesLeaders_CIV4GameText.xml
  Assets/XML/GameText/Pedia_CIV4GameText.xml
  Assets/XML/GameText/PitBoss_CIV4GameText.xml
  Assets/XML/GameText/Platyping_CIV4GameText.xml
  Assets/XML/GameText/Promotions_CIV4GameText.xml
  Assets/XML/GameText/Special/exeText.xml
  Assets/XML/GameText/Units_CIV4GameText.xml
  Assets/XML/GameText/UnsortedCiv_CIV4GameText.xml
  Assets/XML/GameText/WorldBuilder_CIV4GameText.xml
Labels: xml, text

#1582 added a text key for the Totestra map script description
  Assets/XML/GameText/Global_CIV4GameText.xml
  PrivateMaps/C2C_Totestra.py
Labels: text

#1585 Added text key for the word personality in leaders pedia
  Assets/Python/Screens/Pedia/PediaLeader.py
  Assets/XML/GameText/Pedia_CIV4GameText.xml
Labels: xml, python, text

#1578 re-added EVENTTRIGGER_BONUS_TAX to fix saved game compatibility
  Assets/XML/Events/CIV4EventTriggerInfos.xml
  Notes for the next breaking of save game compatability cycle.txt
Labels: xml
