Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2024-08, with the labels that each got.

#1535 Full event rework
  Assets/XML/Events/CIV4EventInfos.xml
  Assets/XML/Events/CIV4EventTriggerInfos.xml
Labels: xml

#1537 Hisotrical Accurate Calendar
  Assets/Config/RoMSettings.xml
  Assets/Python/Afforess/ANewDawnSettings.py
  Assets/Python/BUG/Tabs/RoMOptionsTab.py
  Assets/XML/EraRanges_GlobalDefines.xml
  Assets/XML/GameText/BUG_CIV4GameText.xml
  PublicMaps/SM - Fallout 16 Harrier Earth01_V1.CivBeyondSwordWBSave
  PublicMaps/SM - Fallout 9 Harrier Earth01_V1.CivBeyondSwordWBSave
  PublicMaps/SM - Snofru Harrier Earth01_V1.CivBeyondSwordWBSave
  Sources/CvDate.cpp
  Sources/CvDate.h
  Sources/CvEnums.h
  Sources/CvGame.cpp
  Sources/CvGame.h
  Sources/CvGameCoreUtils.cpp
  Sources/CvGameCoreUtils.h
  Sources/CvPythonEnumLoader.cpp
  Sources/CvXMLLoadUtilitySet.cpp
  Sources/CyEnumsInterface.cpp
  Sources/GlobalDefines.h
  Tools/mods_directory — копия.txt
Labels: tool, xml, python, dll, text

#1540 Revert "Added multimaps option for testing (#1510)"
  Assets/Modules/MLF_CIV4ModularLoadingControls.xml
  Assets/Modules/P2K_Multimaps_Test/MM_CIV4UnitInfos.xml
  Assets/Python/EntryPoints/CvOutcomeInterface.py
  Assets/XML/GameInfo/CIV4GameOptionInfos.xml
  Assets/XML/GameText/Gameoptions_CIV4GameText.xml
  Sources/CvEnums.h
  Sources/CvPythonEnumLoader.cpp
  Sources/CyCity.cpp
  Sources/CyCity.h
  Sources/CyEnumsInterface.cpp
Labels: xml, python, dll, text

#1542 -added tons of resource spawn events
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/XML/Events/CIV4EventInfos.xml
  Assets/XML/Events/CIV4EventTriggerInfos.xml
  Assets/XML/GameText/Events_CIV4GameText.xml
Labels: xml, python, text

#1543 added national wonders cost option values
  Assets/XML/Buildings/NationalWonders_CIV4BuildingInfos.xml
Labels: xml

#1545 Fixing the Swapped Diplomacy Music for England
  Assets/Sounds/Diplomacy/Victoria_Late.mp3
  Assets/Sounds/Diplomacy/Victoria_Middle.mp3
Labels: audio

#1547 added world wonders values
  Assets/XML/Buildings/GreatWonders_CIV4BuildingInfos.xml
  Assets/XML/Buildings/GroupWonders_CIV4BuildingInfos.xml
Labels: xml

#1546 Paddle Steamer Movement Fix
  Assets/XML/Units/U_Sea_CIV4UnitInfos.xml
Labels: xml

#1548 Recon unit parity fix
  Assets/Modules/Cultures/Cultures_Cultural_CIV4UnitInfos.xml
  Assets/XML/Units/U_Land_CIV4UnitInfos.xml
Labels: xml

#1549 patch notes
  Assets/XML/Events/CIV4EventInfos.xml
  Assets/XML/Events/CIV4EventTriggerInfos.xml
  Assets/XML/GameText/Events_CIV4GameText.xml
Labels: xml, text

#1550 Fixing Pikeman Weapon Wield to Long Polearm
  Assets/XML/Units/U_Land_CIV4UnitInfos.xml
Labels: xml

#1551 Update CIV4CivicInfos.xml
  Assets/XML/Civilizations/CIV4CivicInfos.xml
Labels: xml

#1552 event balance and added 5 new events
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/XML/Events/CIV4EventInfos.xml
  Assets/XML/Events/CIV4EventTriggerInfos.xml
  Assets/XML/GameText/Events_CIV4GameText.xml
Labels: xml, python, text

#1558 small event bugfix
  Assets/XML/Events/CIV4EventInfos.xml
  Assets/XML/Events/CIV4EventTriggerInfos.xml
Labels: xml

#1555 Delete Assets/Sounds/soundtrack/Classical/GautamaPonders.mp3
  Assets/Sounds/soundtrack/Classical/GautamaPonders.mp3
Labels: audio
