Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2024-04, with the labels that each got.

#1492 Polish translation: ~1/3 of Bonus_CIV4GameText translated
  Assets/XML/GameText/Bonus_CIV4GameText.xml
Labels: xml, text

#1494 fixed some bugs when switching map
  Assets/Python/Contrib/ParallelMaps.py
  Assets/Python/Screens/CvMainInterface.py
  Sources/CvMap.cpp
Labels: python, dll

#1495 Temp fix to workers not doing their job
  Sources/CvPlayer.cpp
Labels: dll

#1497 half-fixed the missions that move units to another map
  Sources/CvMap.cpp
  Sources/CvUnit.cpp
  Sources/CvUnitAI.cpp
Labels: dll

#1496 Fixing indexing for diacritics (also added polish mapping)
  Assets/Python/Screens/Pedia/Index_Pedia.py
Labels: python
