Repository caveman2cosmos/Caveman2Cosmos, pull requests merged in 2024-03, with the labels that each got.

#1473 Feature/event rework and fork pull request test
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/XML/Events/CIV4EventInfos.xml
  Assets/XML/Events/CIV4EventTriggerInfos.xml
  Assets/XML/GameText/Events_CIV4GameText.xml
Labels: xml, python, text

#1475 Updated events:
  Assets/XML/Events/CIV4EventInfos.xml
  Assets/XML/Events/CIV4EventTriggerInfos.xml
  Assets/XML/GameText/Events_CIV4GameText.xml
  UnpackedArt/art/event_images/SilverOreEvent.dds
Labels: xml, art, text

#1478 Polish translation: _LanguageIndex_ and a bit of exeText
  Assets/XML/GameText/Special/_LanguageIndex_CIV4GameText.xml
  Assets/XML/GameText/Special/exeText.xml
Labels: xml, text

#1479 Updated events:
  Assets/XML/Events/CIV4EventInfos.xml
  Assets/XML/Events/CIV4EventTriggerInfos.xml
  Assets/XML/GameText/Events_CIV4GameText.xml
Labels: xml, text

#1480 Updated events:
  Assets/Python/EntryPoints/CvRandomEventInterface.py
  Assets/XML/Events/CIV4EventInfos.xml
  Assets/XML/Events/CIV4EventTriggerInfos.xml
  Assets/XML/GameText/Events_CIV4GameText.xml
Labels: xml, python, text

#1481 Updated events:
  Assets/XML/Events/CIV4EventInfos.xml
  Assets/XML/Events/CIV4EventTriggerInfos.xml
Labels: xml

#1483 Polish translation: ~40% of exeText
  Assets/XML/GameText/Special/exeText.xml
Labels: xml, text

#1484 Polish translation: ~60% of exeText
  Assets/XML/GameText/Special/exeText.xml
Labels: xml, text

#1485 exeText translated to polish.
  Assets/XML/GameText/AutoLog_CIV4GameText.xml
  Assets/XML/GameText/Bonus_CIV4GameText.xml
  Assets/XML/GameText/Special/exeText.xml
Labels: xml, text

#1486 Small changes in polish translation
  Assets/XML/GameText/Bonus_CIV4GameText.xml
  Assets/XML/GameText/Special/exeText.xml
Labels: xml, text
